<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">



<!-- 구글 아이콘 -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- jquery -->
<script src="/js/jquery-3.7.0.js"></script>
<!-- 기본 CSS -->
<link rel="stylesheet" href="/css/default.css">
<!-- 기본 js -->






<div class="box">
	<div class="box-detail">
			<a th:if="${session.m !=null && session.m.memberLevel == 1}" href="/member/admin" id="adminMenuButton">관리자메뉴</a>
			<a th:if="${session.m !=null}" href="/member/logout" id="logoutMenuButton">로그아웃</a>	
	</div>
</div>


<header>	
	<div class="site-logo">
		<a href="/">Green Book</a>
	</div>

    <div class="search">
		<div class="search-box">
			<form action="/board/mainSearchList" name="mainSearch">
				<input type="hidden" name="reqPage" id="currentPage" value="1">
				<input type="text" name="keyword" placeholder="검색어를 입력해주세요" required>
				<button id="board-enter">
					<span class="material-icons">search</span>
				</button>
			</form>
		</div>
    </div>
   
	<div class="header-link">
		<a th:if="${session.m ==null}" href="/member/loginFrm"><span class="material-icons headericon">person_outline</span></a> <!-- 로그인-->
		<a th:if="${session.m !=null}" href="/mypage/memberUpdateFrm"><span class="material-icons headericon">person_outline</span></a> <!-- 로그인-->
		<a href="#"><span class="material-icons headericon">favorite_border</span></a><!--찜-->	
		<a href="/msg/loginCheck"><span class="material-icons headericon" id="mail-icon">mail_outline</span></a> <!--쪽지-->							
		
	</div>
	<p th:if="${session.m !=null}" class="letter-count" style="color: red;"></p><!--숫자는 안읽은 쪽지 개수 받아오려고함-->
</header>


<div class="menu">
    <nav>
		<ul class="navi">
			<li><a href="/product/board?reqPage=1"><span>중고책방</span></a></li> 
			<li><a href="#"><span>요즘 이 책</span></a></li>
			<li><a href="/board/list?reqPage=1"><span>자유게시판</span></a></li>
			<li class="service">
				<a><span>서비스</span></a>
					<ul class="sub-navi">
						<li><a href="#"><span>Company</span></a></li>
						<li><a href="/FnA/FnA"><span>자주묻는질문</span></a></li>
						<li><a href="/api/map"><span>Contact</span></a></li>
					</ul>
			</li>
		</ul>
	</nav>
</div>

<th:block th:if="${session.m != null}">
<!-- 안 읽은 쪽지 갯수 불러오기 -->
<script>
  window.onload = function() {
	  $.ajax({
          url : "/msg/NotReadMsgCount",
          type : "get",
          success : function(data){
              $(".letter-count").text(data);
          }
      });
  };
  
  
  


		///////엔터키
		document.getElementById("keyword")
	    .addEventListener("keyup", function(e) {
	        if (e.keyCode === 13) {
	            document.getElementById("board-enter").click();
	        }
	    });
	    
	   

		
  
  
</script>
</th:block>
</html>