<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">



<!-- 구글 아이콘 -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- jquery -->
<script src="/js/jquery-3.7.0.js"></script>
<!-- 기본 CSS -->
<link rel="stylesheet" href="/css/default.css" />
<!-- 기본 js -->
<script src="/default.js"></script>

<div class="box">
	<div class="box-detail">
		<th:block th:if="${session.m != null}"> <!-- 정아님 로그아웃 기능 확인을 위해 null이 아닌으로 수정하였습니다. ㅠㅠ -->
			<a href="/member/admin"  id="adminMenuButton">관리자메뉴</a>		<!--관리자메뉴--> <!-- 관리자만 보이게 -->
			<a href="/member/logout"  id="logoutMenuButton">로그아웃</a>		<!--로그아웃-->
		</th:block>
	</div>
</div>
<header>
	
	<div class="site-logo">
		<a href="/">Green Book</a>
	</div>

    <div class="search">
		<div class="search-box">
			<form action="search.html">
				<input type="text" name="keyword" placeholder="검색어를 입력해주세요">
				<button type="submit">
					<span class="material-icons">search</span>
				</button>
			</form>
		</div>
    </div>
    
	<div class="header-link">
		<!-- 세션 로그인 안되어있을때 -->
		<th:block th:if="${session.m == null}">
			<!-- 정아님,,로그인 기능 확인을 위해 a태그를 제가 임의로 추가하였습니다 ㅠㅠ -->
			<a href="/member/loginFrm"><span class="material-icons headericon">person_outline</span></a><!-- 로그인-->
			<span class="material-icons headericon">favorite_border</span><!--찜-->	
			<span class="material-icons headericon">mail_outline</span> <!--쪽지-->							
		</th:block>
	</div>
</header>


<div class="menu">
    <nav>
		<ul class="navi">
			<li><a href="#">중고책방</a></li> 
			<li><a href="#">요즘 이 책</a></li>
			<li><a href="#">자유게시판</a></li>
			<li><a href="#">서비스</a>
				<ul class="sub-navi">
					<li><a href="#">Company</a></li>
					<li><a href="#">자주묻는질문</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</li>
		</ul>
	</nav>
</div>




</html>