<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">



<!-- 구글 아이콘 -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- jquery -->
<script src="/js/jquery-3.7.0.js"></script>
<!-- 기본 CSS -->
<link rel="stylesheet" href="/css/default.css">
<!-- 기본 js -->


<div class="box">
	<div class="box-detail">
		<th:block th:if="${session.m != null}"> <!-- 정아님 로그아웃 기능 확인을 위해 null이 아닌으로 수정하였습니다. ㅠㅠ -->
			<a href="#" class="btn bc1" id="adminMenuButton">관리자메뉴</a>		<!--관리자메뉴-->
			<a href="/member/logout" class="btn bc1" id="logoutMenuButton">로그아웃</a>	
		</th:block>
	</div>
</div>


<header>	
	<div class="site-logo">
		<a href="/">Green Book</a>
	</div>

    <div class="search">
		<div class="search-box">
			<form action="search.html">
				<input type="text" name="keyword" placeholder="검색어를 입력해주세요">
				<button type="submit">
					<span class="material-icons">search</span>
				</button>
			</form>
		</div>
    </div>
    
	<div class="header-link">
		<a href="/member/loginFrm"><span class="material-icons headericon">person_outline</span></a> <!-- 로그인-->
		<a href="#"><span class="material-icons headericon">favorite_border</span></a><!--찜-->	
		<a href="#"><span class="material-icons headericon" id="mail-icon">mail_outline</span></a> <!--쪽지-->							
	</div>
	<p class="letter-count">0</p><!--숫자는 안읽은 쪽지 개수 받아오려고함-->
</header>


<div class="menu">
    <nav>
		<ul class="navi">
			<li><a href="#"><span>중고책방</span></a></li> 
			<li><a href="#"><span>요즘 이 책</span></a></li>
			<li><a href="#"><span>자유게시판</span></a></li>
			<li class="service">
				<a><span>서비스</span></a>
					<ul class="sub-navi">
						<li><a href="#"><span>Company</span></a></li>
						<li><a href="/FnA/FnA"><span>자주묻는질문</span></a></li>
						<li><a href="#"><span>Contact</span></a></li>
						<li><a href="/mypage/memberUpdateFrm"><span>마이페이지</span></a></li><!-- 추후 삭제 -->
					</ul>
			</li>
		</ul>
	</nav>
</div>




</html>