<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- 구글 아이콘 -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- jquery -->
<script src="/js/jquery-3.7.0.js"></script>
<!-- 기본 CSS -->
<link rel="stylesheet" href="/css/default.css">
<!-- 기본 js -->




<div class="page-content" id="main-page-content">
	<div class="main-page-image">
		<img src="/img/top-banner.jpg">
		<h2 class="main-text">
			<p>책과 사람을</p>
			<br>
			<p>더 가까이 만드는</p>
			<br>
			<p>그린북입니다</p>
		</h2>
	</div>
</div>


<div class="page-content2">
	<div class="page-main-like-text">
		<p>이 상품 어때요?</p>
		<p>가장 많은 찜을 눌러주셨어요</p>
	</div>

	<div class="page-main-like-content">
		<!--찜 개수 많은 순  리스트 > 썸네일 -->
	</div>

	<div class="page-main-like-more">
		<button type="button" class="btn bc1">더보기</button>
	</div>
</div>


</html>