<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>게시물 수정</title>
	<script src="/summernote/summernote-lite.js"></script>
	<script src="/summernote/lang/summernote-ko-KR.js"></script>
	<link rel="stylesheet" href="/summernote/summernote-lite.css">
	<link rel="stylesheet" href="/css/productDefault.css">
	<link rel="stylesheet" href="/css/productBoardWriteFrm.css">
</head>
<body>

	<th:block th:include="common/header"></th:block>
	
	<div class="main">
		<div class="main-wrap">

			<!-- 글쓰기 -->
			<div class="page-title">게시물 수정</div>
			<div class="main-mid">
			
				<form action="/product/update" class="productUpdateFrm" method="post" enctype="multipart/form-data">
					<table class="tbl productWrite">
					
						<tr>
							<th class="td-3">제목</th>
							<td>
								<input type="text" name="productBoardTitle" class="input-form" th:value="${p.productBoardTitle}">
							</td>
							
							<th class="td-3">글쓴이</th>
							<td>
								<input type="text" name="productAuthor" class="input-form" th:value="${p.productAuthor}">
							</td>
						</tr>
					
						<tr>
							<th class="td-3">가격</th>
							<td>
								<input type="text" name="productPrice" class="input-form" th:value="${p.productPrice}">
							</td>
							<th class="td-3">책 상태</th>
							<td th:switch="${p.productCondition}">
								<select th:case="5" name = "productCondition" class="product-condition input-form">
									<option value="5" selected>매우 좋음</option>
									<option value="4">좋음</option>
									<option value="3">보통</option>
									<option value="2">나쁨</option>
									<option value="1">매우 나쁨</option>
								</select>
								<select th:case="4" name = "productCondition" class="product-condition input-form">
									<option value="5">매우 좋음</option>
									<option value="4" selected>좋음</option>
									<option value="3">보통</option>
									<option value="2">나쁨</option>
									<option value="1">매우 나쁨</option>
								</select>
								<select th:case="3" name = "productCondition" class="product-condition input-form">
									<option value="5">매우 좋음</option>
									<option value="4">좋음</option>
									<option value="3" selected>보통</option>
									<option value="2">나쁨</option>
									<option value="1">매우 나쁨</option>
								</select>
								<select th:case="2" name = "productCondition" class="product-condition input-form">
									<option value="5">매우 좋음</option>
									<option value="4">좋음</option>
									<option value="3">보통</option>
									<option value="2" selected>나쁨</option>
									<option value="1">매우 나쁨</option>
								</select>
								<select th:case="1" name = "productCondition" class="product-condition input-form">
									<option value="5">매우 좋음</option>
									<option value="4">좋음</option>
									<option value="3">보통</option>
									<option value="2">나쁨</option>
									<option value="1" selected>매우 나쁨</option>
								</select>
							</td>
						</tr>
						
						<tr>
							<th class="td-3">썸네일</th>
							<td colspan="6">
								<div class="file-wrap">
									<div th:each="file : ${p.fileList}" class="files">
										<span class="delFilename" th:text="${file.filename}"></span>
										<span class="material-icons delBtn fc-6" th:onclick="deleteFile(this,[[${file.fileNo}]])">remove_circle</span>
									</div>
								</div>
								<input type="file" name="imageFile" accept=".jpg, .png, .jpeg">
							</td>
						</tr>
						
						<tr class="tr-1">
							<th class="td-3">이미지 미리보기</th>
							<td colspan="3">
								<div id="img-viewer">
									<img id="img-view" width="500px">
								</div>
							</td>
						</tr>
					
						<tr class="tr-1">
							<th class="td-3">내용</th>
							<td colspan="3" style="text-align : left;">
								<textarea name="productBoardContent" id="productBoardContent" class="input-form" th:text=${p.productBoardContent}></textarea>
							</td>
						</tr>
						
						<input type="hidden" name="productBoardWriter" th:value="${session.m.memberId}">
						<input type="hidden" name="productBoardNo" class="input-form" th:value="${p.productBoardNo}">
					
						<tr class="tr-1">
							<th colspan="4">
								<button type="submit" class="btn bc2 bs4">수정하기</button>
							</th>
						</tr>
					
					</table>
				</form>
			
			</div>
		
		</div>
	</div>

	<script>
		function deleteFile(obj,fileNo){
			if(confirm("파일을 삭제하시겠습니까?")){
				const input = $("<input>");
				input.attr("name","delFileNo");
				input.attr("type","hidden");
				input.val(fileNo);
				$(".productUpdateFrm").append(input);
				$(obj).parent().remove();
			}
		}
		
		$("[name=imageFile]").on("change",function(){
			if(this.files.length != 0 && this.files[0] != 0){
				const reader = new FileReader();
				reader.readAsDataURL(this.files[0]);
				reader.onload = function(e){
					$("#img-view").attr("src", e.target.result);
				}
			}else {
				$("#img-view").attr("src","");
			}
		});
		
		// 썸머노트
		$("#productBoardContent").summernote({
			height : 400,
			lang : "ko-KR",
			callbacks : {
				onImageUpload : function(files){
					uploadImage(files[0],this);
				}
			}
		});
		
		function uploadImage(file, editor){
			const form = new FormData();
			form.append("file",file);
			
			$.ajax({
				url : "/product/editor",
				type : "post",
				data : form,
				processData : false,
				contentType : false,
				success : function(data){
					$(editor).summernote("insertImage",data);
				}
			});
		}
	</script>

</body>
</html>