<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>상세보기</title>
<link rel="stylesheet" href="/css/productDefault.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="/css/productDetail.css">
<script src="/javascript/jquery-3.7.0.js"></script>
</head>
<body>

	<th:block th:include="common/header"></th:block>
	
	<div class="main">
        <div class="main-wrap">

            <!-- 최신게시물 / 상품리스트 -->
            <div class="main-mid">
                
                <div class="mid-content">
                
	                <div class="img-box">
						<img th:src="${p.productFile.getFilepath}">
					</div>
					
					<div class="profile-box">
						<div class="box1">
							<span class="material-symbols-outlined userMainImage">account_circle</span>
							<span class="ProductBoardWriter" th:text="${p.getProductBoardWriter}"></span>
						</div>
						
						<div class="box2">
							<span class="Grade">신뢰도 <span>1123</span></span>
						</div>
					</div>
					
					<div class="main-box">
						<div class="title" th:text="${p.getProductBoardTitle}"></div>
						
						<div class="cart"><a class="cart-btn">장바구니</a></div>
						<div class="buy"><a class="buy-btn">구매하기</a></div>
						<div class="author" th:text="${p.getProductAuthor}"></div>
						<div class="price"><span th:text="${p.getProductPrice}"></span> 원</div>
						<div class="content" th:utext="${p.getProductBoardContent}"></div>
						<div class="readCount">조회수 <span th:text="${p.getReadCount}"></span></div>
						<a class="update" th:if="${session.m != null && session.m.memberId == p.productBoardWriter}">수정</a>
						<button class="delete" th:if="${session.m != null && session.m.memberId == p.productBoardWriter}">삭제</button>
					</div>
					
					<!-- 댓글 리스트 -->
					<div class="comment-box" th:if="${session.m != null}"> <!-- th:if="${session.m != null}" -->
						<form action="/product/insertComment" method="post">
							<ul>
								<li>
									<span class="material-symbols-outlined userMainImage">account_circle</span>
								</li>
								<li>
									<input type="hidden" name="productCommentWriter" th:value="${session.m.memberId}">
									<input type="hidden" name="productBoardNo" th:value="${p.productBoardNo}">
									<textarea name="productCommentContent" class="commentInput-form"></textarea>
								</li>
								<li>
									<button type="submit" class="btn bc1 bs4">등록</button>
								</li>
							</ul>
						</form>
					</div>
					
                </div>
                
            </div>

        </div>
    </div>
	
		
		
	<th:block th:include="common/footer"></th:block>

	<script>
	
		$(".cart").on("click",function(){
			const result = confirm("장바구니에 등록하시겠습니까?");
			if(result){
				alert("성공");
			}
		});
		
		$(".buy").on("click",function(){
			const result = confirm("구매하시겠습니까?");
			if(result){
				alert("성공");
			}
		});
		
		$(".update").on("click",function(){
			const result = confirm("게시물을 수정하시겠습니까?");
			if(result){
				alert("성공");
			}
		});
		
		$(".delete").on("click",function(){
			const result = confirm("삭제하시겠습니까?");
			if(result){
				alert("성공");
			}
		});
	
	</script>
</body>
</html>