<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>상세보기</title>
<link rel="stylesheet" href="/css/productDefault.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="/css/productDetail.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
<script src="/javascript/jquery-3.7.0.js"></script>
</head>
<body>

	<th:block th:include="common/header"></th:block>
	
	<div class="main">
        <div class="main-wrap">

            <!-- 최신게시물 / 상품리스트 -->
            <div class="main-mid">
                
                <div class="mid-content">
                
	                <div class="img-box">
						<img th:src="${p.productFile.getFilepath}">
					</div>
					
					<div class="profile-box">
						<div class="box1">
							<span class="material-icons userMainImage">account_box</span>
							<span class="ProductBoardWriter" th:text="${p.getProductBoardWriter}"></span>
							<span th:if="${session.m != null && session.m.memberId != p.productBoardWriter && session.m.memberLevel != 3}" class="material-icons-outlined msgIcon pwMsg">mail</span>
						</div>
						
						<div class="box2">
							<span class="Grade">신뢰도 <span th:text="${m.getGrade}"></span></span>
						</div>
					</div>
					
					<div class="main-box">
						<div class="title" th:text="${p.getProductBoardTitle}"></div>
						<!-- 관심상품 등록/해제 -->
						<th:block th:if="${session.m != null && session.m.memberId != p.productBoardWriter && session.m.memberLevel != 3}">
							<div class="cart cart-btn" th:if="${isWished == 1}" th:onclick="deleteWish(this,[[${p.productBoardNo}]],[[${session.m.memberId}]]);">관심상품 해제</div>
							<div class="cart cart-btn" th:if="${isWished == 0}" th:onclick="insertWish(this,[[${p.productBoardNo}]],[[${session.m.memberId}]]);">관심상품 등록</div>
						</th:block>
						<!-- 구매요청 버튼 -->
						<form action="/mypage/byRequest" class="byRequest" method="get">
							<button type="submit" class="buy-btn" th:if="${session.m != null && session.m.memberId != p.productBoardWriter && isBuyRequest == 0}">
								<div class="buy" th:if="${session.m != null}" th:onclick="byRequest(this,[[${p.productBoardNo}]],[[${session.m.memberId}]])">구매요청</div>
							</button>
							<input type="hidden" name="session" th:value="${session.m}">
							<input type="hidden" name="productBoardNo" th:value="${p.productBoardNo}">
							<input type="hidden" name="productBoardTitle" th:value="${p.productBoardTitle}">
							<input type="hidden" name="productBoardContent" th:value="${p.productBoardContent}">
							<input type="hidden" name="productBoardWriter" th:value="${p.productBoardWriter}">
							<input type="hidden" name="productRegDate" th:value="${p.productRegDate}">
							<input type="hidden" name="productPrice" th:value="${p.productPrice}">
							<input type="hidden" name="productAuthor" th:value="${p.productAuthor}">
							<input type="hidden" name="productCondition" th:value="${p.productCondition}">
							<input type="hidden" name="productSellCheck" th:value="${p.productSellCheck}">
							<!-- <input type="hidden" name="productFile" th:value="${p.productFile}"> -->
						</form>
						<!-- 구매요청 취소 버튼 -->
						<form action="/mypage/buyRequestCancle" class="byRequest" method="get">
							<button type="submit" class="buy-btn" th:if="${session.m != null && session.m.memberId != p.productBoardWriter && isBuyRequest == 1}">
								<div class="buy" th:if="${session.m != null}" >구매요청취소</div>
							</button>
							
							<input type="hidden" name="productBoardNo" th:value="${p.productBoardNo}">
							<input type="hidden" name="productBoardTitle" th:value="${p.productBoardTitle}">
							<input type="hidden" name="productBoardContent" th:value="${p.productBoardContent}">
							<input type="hidden" name="productBoardWriter" th:value="${p.productBoardWriter}">
							<input type="hidden" name="productRegDate" th:value="${p.productRegDate}">
							<input type="hidden" name="productPrice" th:value="${p.productPrice}">
							<input type="hidden" name="productAuthor" th:value="${p.productAuthor}">
							<input type="hidden" name="productCondition" th:value="${p.productCondition}">
							<input type="hidden" name="productSellCheck" th:value="${p.productSellCheck}">
							<!-- <input type="hidden" name="productFile" th:value="${p.productFile}"> -->
							
							<!-- 구매자 멤버 넘기기 -->
							<input type="hidden" name="memberId" th:value="${session.m.memberId}">
							
						</form>
						
						<div class="author" th:text="${p.getProductAuthor}"></div>
						<div class="price"><span th:text="${p.getProductPrice}"></span> 원</div>
						<div class="content" th:utext="${p.getProductBoardContent}"></div>
						<div class="readCount">조회수 <span th:text="${p.getReadCount}"></span></div>
						<a class="update" th:if="${session.m != null && session.m.memberId == p.productBoardWriter}"
												th:href="@{/product/updateFrm(productBoardNo=${p.productBoardNo})}">수정</a>
						<button class="delete" th:if="${(session.m != null && session.m.memberId == p.productBoardWriter) 
														|| session.m != null && session.m.memberLevel == 1}"
														th:onclick="productDelete([[${p.productBoardNo}]])">삭제</button>
						
					</div>
					
					<!-- 댓글 입력 -->
					<div class="comment-box" th:if="${session.m != null}"> <!-- th:if="${session.m != null}" -->
						<form action="/product/insertComment" method="post">
							<ul>
								<li>
									<span class="material-icons userMainImage">account_box</span>
									
								</li>
								<li>
									<input type="hidden" name="productCommentWriter" th:value="${session.m.memberId}">
									<input type="hidden" name="productRef" th:value="${p.productBoardNo}">
									<textarea name="productCommentContent" class="commentInput-form"></textarea>
								</li>
								<li>
									<button type="submit" class="btn commentbc1 bs4 commentInsert">등록</button>
								</li>
							</ul>
						</form>
					</div>
					
					<!-- 댓글 출력 -->
					<div class="comment-list-box">
						<th:block th:each="pc : ${commentList}">
						
							<ul class="posting-comment">
								<li>
									<span class="material-icons userMainImage">account_box</span>
								</li>
								<li>
									<p class="comment-info">
										<!-- 쪽지 때문에 class 추가하였습니다. -->
										<span class="productCommentWriter" th:text="${pc.productCommentWriter}"></span>
										<span th:text="${pc.productCommentDate}"></span>
										<span th:if="${session.m != null && session.m.memberId != pc.productCommentWriter && session.m.memberLevel != 3}" class="material-icons-outlined msgIcon pcMsg">mail</span>
									</p>
									<p class="comment-content" th:text="${pc.productCommentContent}"></p>
									
									<!--  댓글 수정 -->
									<textarea name="productCommentContent" class="commentUpdateInput-form" style="min-height:96px; display:none;" th:text="${pc.productCommentContent}"></textarea>
									<p class="comment-link">
										<th:block th:if="${session.m != null}">
											<th:block>
												<a href="javascript:void(0);" th:onclick="modifyComment(this,[[${pc.productCommentNo}]],[[${p.productBoardNo}]])" th:if="${session.m.memberId == pc.productCommentWriter}">수정</a>
												<a href="javascript:void(0);" th:onclick="deleteComment(this,[[${pc.productCommentNo}]],[[${p.productBoardNo}]])" th:if="${session.m.memberId == pc.productCommentWriter || session.m.memberLevel == 1}">삭제</a>
											</th:block>
											<a href="javascript:void(0);" class="recShow" th:if="${session.m != null}">답글달기</a>
										</th:block>	
									</p>
								</li>
							</ul>
							
							<!-- 대댓글 출력 -->
							<th:block th:each="pcc : ${reCommentList}">
								<ul class="posting-comment reply" th:if="${pc.productCommentNo == pcc.productCommentRef}">
									<li>
										<span class="material-symbols-outlined">subdirectory_arrow_right</span>
										<span class="material-icons userMainImage">account_box</span>
									</li>
									<li>
										<p class="comment-info">
											<!-- 쪽지 때문에 class 추가하였습니다. -->
											<span class="productReCommentWriter" th:text="${pcc.productCommentWriter}"></span>
											<span th:text="${pcc.productCommentDate}"></span>
											<span th:if="${session.m != null && session.m.memberId != pcc.productCommentWriter && session.m.memberLevel != 3}" class="material-icons-outlined msgIcon pccMsg">mail</span>
										</p>
										<p class="comment-content" th:text="${pcc.productCommentContent}"></p>
										
										<!-- 대댓글 수정 -->
										<textarea name="productCommentContent" class="commentUpdateInput-form" style="min-height:96px; display:none;" th:text="${pcc.productCommentContent}"></textarea>
										
										<p class="comment-link">
											<th:block th:if="${session.m != null}">
												<th:block>
													<a href="javascript:void(0);" th:onclick="modifyComment(this,[[${pcc.productCommentNo}]],[[${p.productBoardNo}]])" th:if="${session.m.memberId == pcc.productCommentWriter}">수정</a>
													<a href="javascript:void(0);" th:onclick="deleteComment(this,[[${pcc.productCommentNo}]],[[${p.productBoardNo}]])" th:if="${session.m.memberId == pcc.productCommentWriter || session.m.memberLevel == 1}">삭제</a>
												</th:block>
											</th:block>	
										</p>
									</li>
								</ul>
							</th:block>
							
							<!-- 대댓글 등록 -->
							<div class="inputCommentBox inputRecommentBox" th:if="${session.m != null}" style="width: 80%;">
								<form action="/product/insertComment" method="post">
									<ul style="display: flex; height: 100px;">
										<li style="width: 15%; display: flex; justify-content: center; align-items: center; margin: unset;">
											<span class="material-symbols-outlined" style="font-size: 40px; color: #ccc; width:unset;">subdirectory_arrow_right</span>
										</li>
										<li style="width: 75%;margin-left: -10px;">
											<input type="hidden" name="productCommentWriter" th:value="${session.m.memberId}">
											<input type="hidden" name="productRef" th:value="${p.productBoardNo}">
											<input type="hidden" name="productCommentRef" th:value="${pc.productCommentNo}">
											<textarea name="productCommentContent" class="commentInput-form" style="height: 96px;min-height: 96px; width:100%; margin-bottom: 0px;"></textarea>
										</li>
										<li style="width: 10%;margin-left: 10px;">
											<button type="submit" class="btn bc1 bs4 commentInsert" style="width: 120%;padding: unset; font-size: 1.2em; display: inline-block; box-sizing: border-box; height: 96px; background-color:#005A0D; border:none; margin:0;">등록</button>
										</li>
									</ul>
								</form>
							</div>
							
						</th:block>	
					</div>
					
                </div>
                
            </div>

        </div>
    </div>
	
	<!-- 쪽지 쓰기 모달 -->
	<div class="sendMsg-modal-wrap" th:if="${session.m != null && session.m.memberLevel != 3}">
    	<div class="sendMsg-modal">
	        <div class="modal-title">
	            <h3>쪽지 쓰기</h3>
	           	<hr>
	        </div>
	        <form action="/msg/productSendMsg" method="post">
	            <div class="sendMsg-modal-content">
	                <span><strong>받는 사람</strong></span>
	                <span class="receiver"></span>
	                <th:block th:if="${session.m != null}">
					<input type="hidden" name="sender" class="memberId" th:value="${session.m.memberId}">
					</th:block>
	                <input type="hidden" name="receiver" id="receiver">
		    		<input type="hidden" name="productRef" th:value="${p.productBoardNo}">
	                <textarea name="message" class="s-input-form" id="sendMsgTextarea"></textarea>
	            </div>
	            <button type="submit" class="modalBtn s-bc1" id="msgSubmit">보내기</button>
	            <button type="button" class="modalBtn s-bc2" id="sendMsgCancel">취소</button>	        
	        </form>
    	</div>
    </div>	
	
	<!-- 쪽지 내용 없을 때 모달 -->
    <div class="msg-modal-wrap" th:if="${session.m != null && session.m.memberLevel != 3}">
        <div class="sendMsg-modal">
            <div class="msg-modal-top">
                <h4>쪽지 내용을 입력해주시기 바랍니다.</h4>
            </div>
            <div class="msg-modal-content">
				<button type="button" class="msgBtn s-bc2" id="msg-modal-close">닫기</button>
            </div>
        </div>
    </div>	
	<th:block th:include="common/footer"></th:block>

	<script>
		//관심상품 등록
		function insertWish(obj, productBoardNo, memberId){
			const wishBtn=$(obj);
			$.ajax({
				url : "/wish/insertWish",
				type: "get",
				data : {productBoardNo:productBoardNo, memberId:memberId},
				success:function(data){
					if(data > 0){
						wishBtn.text("관심상품 해제"); 
						wishBtn.attr("onclick","deleteWish(this,"+productBoardNo+",'"+memberId+"')");						
					}
				}
			});
		}
		//관심상품 해제
		function deleteWish(obj, productBoardNo, memberId){
			const wishBtn = $(obj);
			$.ajax({
				url: "/wish/deleteWish",
				type: "get",
				data : {productBoardNo:productBoardNo, memberId:memberId},
				success:function(data){
					if(data > 0){
						wishBtn.text("관심상품 등록"); 
						wishBtn.attr("onclick","insertWish(this,"+productBoardNo+",'"+memberId+"')");						
					}
				}
			});
		}
		
		function byRequest(obj, productBoardNo, memberId){
			if(confirm("구매요청를 요청하시겠습니까?")){
			}
		}
		
		$(".update").on("click",function(){
			const result = confirm("게시물을 수정하시겠습니까?");
			if(result){
			}
		});
		
		// 게시물 삭제
		function productDelete(productBoardNo){
			if(confirm("게시물을 삭제하시겠습니까?")){
				location.href="/product/delete?productBoardNo="+productBoardNo;
			}
		}
		
		
		$(".commentInsert").on("click",function(){
			const result = confirm("댓글을 등록하시겠습니까??");
			if(result){
				
			}
		});
		
		// 댓글 수정
		function modifyComment(obj, productCommentNo, productBoardNo){
			// 현재 보이는 p태그 숨기기
			$(obj).parent().prev().prev().hide();
			
			// 숨겨져있는 textarea 보여주기
			$(obj).parent().prev().show();
			
			// 수정 -> 수정완료로 바꾸기(이벤트도 수정완료 이벤트로 변경)
			$(obj).text("수정완료");
			$(obj).attr("onclick","modifyComplete(this,"+productCommentNo+","+productBoardNo+")");
			
			// 삭제 -> 수정취소로 바꾸기(이벤트도 수정취소 이벤트로 변경)
			$(obj).next().text("수정취소");
			$(obj).next().attr("onclick","modifyCancel(this,"+productCommentNo+","+productBoardNo+")");
			
			// 답글달기 버튼 숨기기
			$(obj).next().next().hide();
		}
		
		// 댓글 수정 취소
		function modifyCancel(obj, productCommentNo, productBoardNo){
			// 숨어있는 p태그를 보여줆(위와 반대)
			$(obj).parent().prev().prev().show();
			
			// 보이는 textarea를 숨긺(위와 반대)
			$(obj).parent().prev().hide();
			
			// 수정완료 -> 수정으로 바꾸기(이벤트도 변경)
			$(obj).prev().text("수정");
			$(obj).prev().attr("onclick","modifyComment(this,"+productCommentNo+","+productBoardNo+")");
			
			// 수정취소 -> 삭제로 바꾸기(이벤트도 변경)
			$(obj).text("삭제");
			$(obj).attr("onclick","deleteComment(this,"+productCommentNo+","+productBoardNo+")");
			
			// 답글달기 다시 보여줌
			$(obj).next().show();
		}
		
		// 댓글 수정 완료
		function modifyComplete(obj, productCommentNo, productBoardNo){
			if(confirm("댓글을 수정하시겠습니까?")){
			// javascript에서 form태그를 생성해서 데이터를 넣어서 전송
			// 보내야할 값 -> 수정한 댓글 내용(textarea), 댓글번호(where), 공지사항번호(완료 후 다시 이 번호의 페이지로)
			
			// 1. form태그 생성
			const form = $("<form style='display:none' action='/product/updateComment' method='post'>");
			
			// 2. input태그 생성해서 댓글번호, 공지사항번호 넣기
			const commentNoInput = $("<input type='text' name='productCommentNo'>");
			commentNoInput.val(productCommentNo);
			const productNoInput = $("<input type='text' name='productRef'>");
			productNoInput.val(productBoardNo);
			
			// 3. 변경한 내용이 들어있는 textarea
			const textArea = $(obj).parent().prev().clone();
			
			// 4. form태그 내부에 input 2개와 textarea태그를 포함
			form.append(commentNoInput).append(productNoInput).append(textArea);
			
			// 5. 완성된 form태그를 body에 추가
			$("body").append(form);
			
			// 6. form submit
			form.submit();
			}
		}
		
		// 댓글 삭제
		function deleteComment(obj, productCommentNo, productBoardNo){
			if(confirm("댓글을 삭제하시겠습니까?")){
				location.href="/product/deleteComment?productCommentNo="+productCommentNo+"&productBoardNo="+productBoardNo;
			}
		}
		
		// 대댓글
		$(".recShow").on("click",function(){
			// 몇번째 답글달기 버튼을 클릭한지 구하기
			const index = $(".recShow").index(this);
			if($(this).text() == "답글달기"){
				$(this).text("취소");
			}else{
				$(this).text("답글달기");
			}
			
			// 대댓글 양식 중에 해당번째 양식을 화면에 출력
			$(".inputRecommentBox").eq(index).toggle();
			$(".inputRecommentBox").eq(index).find("textarea").focus();
		});
		
		//쪽지쓰기 시작
		//게시물 작성자에게 쪽지 쓰기
		const memberId = $(".memberId").val();
		$(".pwMsg").on("click", function(){
			const receiver = $(this).prev().text();
			if(receiver != memberId){
				//쪽지쓰기 모달 열기
				$(".sendMsg-modal-wrap").css("display","flex");
				//textarea 초기화
				$("#sendMsgTextarea").val("");
				//받는 사람 데이터 넣어주기
				$(".receiver").text(receiver);
				$("#receiver").val(receiver);
			}
		});

		//쪽지쓰기 모달 닫기
		$("#sendMsgCancel").on("click", function(){
			$(".sendMsg-modal-wrap").css("display","none");
		});
		
		//댓글 작성자에게 쪽지 쓰기
		$(".pcMsg").on("click", function(){
			const receiver = $(this).prev().prev().text();
			if(receiver != memberId){
				//쪽지쓰기 모달 열기
				$(".sendMsg-modal-wrap").css("display","flex");
				//textarea 초기화
				$("#sendMsgTextarea").val("");
				//받는 사람 데이터 넣어주기
				$(".receiver").text(receiver);
				$("#receiver").val(receiver);
			}
		});
		
		//대댓글 작성자에게 쪽지 쓰기
		$(".pccMsg").on("click", function(){
			const receiver = $(this).prev().prev().text();
			if(receiver != memberId){
				//쪽지쓰기 모달 열기
				$(".sendMsg-modal-wrap").css("display","flex");
				//textarea 초기화
				$("#sendMsgTextarea").val("");
				//받는 사람 데이터 넣어주기
				$(".receiver").text(receiver);
				$("#receiver").val(receiver);
			}
		});
		
		//쪽지 내용 없을 때 모달 띄우기
		$("#msgSubmit").on("click", function(event){
			if($("#sendMsgTextarea").val() == ""){
				//쪽지 내용 입력하라는 모달 띄우기
				$(".msg-modal-wrap").css("display","flex");
				event.preventDefault();
			}
		});
		
		//쪽지 내용 입력하라는 모달 닫기
		$("#msg-modal-close").on("click", function(){
			$(".msg-modal-wrap").css("display","none");
		});
	</script>
</body>
</html>