<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>중고거래게시판</title>
<link rel="stylesheet" href="/css/productBoard.css">
<link rel="stylesheet" href="/css/productDefault.css">
<script src="/javascript/jquery-3.7.0.js"></script>
</head>
<body>

	<th:block th:include="common/header"></th:block>
	
	<div class="main">
        <div class="page-content">

            <!-- 홈 > 중고거래게시판 -->
            <div class="page-title">
				<p>홈</p>
				<p>></p>
				<p>중고거래게시판</p>
            </div>

            <!-- 최신게시물 / 상품리스트 -->
            <div class="main-mid">
                <div>
                    <span class="mid-text1">최신 게시물</span>
                </div>
                <div class="mid-content">
                    <ul>
                    
                    <li class="product" th:each="product : ${productList}">
                    	<a th:href="@{/product/productDetail(productBoardNo=${product.productBoardNo})}">
                    		<div class="img-box">
                    			<img th:src="${product.productFile.getFilepath}">
                    		</div>
                    		<div class="info">
								<div class="book-title" th:text="${product.productBoardTitle}"></div>
								<div class="book-writer">저자 | <span th:text="${product.productAuthor}"></span></div>
								<div class="book-price"><span th:text="${product.productPrice}"></span> 원</div>
                    		</div>
                    	</a>
                    </li>
                    
                    <!-- 
                        <li class="product">
                            <a href="#">
                                <div class="img-box">
                                    <img src="/img/product-img/데미안.jpg">
                                </div>
                                <div class="info">
                                    <div class="book-title">데미안</div>
                                    <div class="book-writer">저자 | 헤르만 헤세</div>
                                    <div class="book-price">3,000 원</div>
                                </div>
                            </a>
                        </li>

                        <li class="product">
                            <a href="#">
                                <div class="img-box">
                                    <img src="/img/product-img/아프니까 청춘이다.jpg">
                                </div>
                                <div class="info">
                                    <div class="book-title">아프니까 청춘이다</div>
                                    <div class="book-writer">저자 | 김난도</div>
                                    <div class="book-price">4,000 원</div>
                                </div>
                            </a>
                        </li>

                        <li class="product">
                            <a href="#">
                                <div class="img-box">
                                    <img src="/img/product-img/총균쇠.jpg">
                                </div>
                                <div class="info">
                                    <div class="book-title">총,균,쇠</div>
                                    <div class="book-writer">저자 | 재러드 다이아몬드</div>
                                    <div class="book-price">15,000 원</div>
                                </div>
                            </a>
                        </li>

                        <li class="product">
                            <a href="#">
                                <div class="img-box">
                                    <img src="/img/product-img/매미울음소리 그칠 무렵.jpg">
                                </div>
                                <div class="info">
                                    <div class="book-title">매미 울음소리 그칠 무렵</div>
                                    <div class="book-writer">저자 | 요시다 아키미</div>
                                    <div class="book-price">3,500 원</div>
                                </div>
                            </a>
                        </li>

                        <li class="product">
                            <a href="#">
                                <div class="img-box">
                                    <img src="/img/product-img/삼국지.jpg">
                                </div>
                                <div class="info">
                                    <div class="book-title">삼국지</div>
                                    <div class="book-writer">저자 | 나관중</div>
                                    <div class="book-price">1,500 원</div>
                                </div>
                            </a>
                        </li>

                        <li class="product">
                            <a href="#">
                                <div class="img-box">
                                    <img src="/img/product-img/미라클모닝.jpg">
                                </div>
                                <div class="info">
                                    <div class="book-title">미라클모닝</div>
                                    <div class="book-writer">저자 | 할 엘로드</div>
                                    <div class="book-price">4,500 원</div>
                                </div>
                            </a>
                        </li>

                        <li class="product">
                            <a href="#">
                                <div class="img-box">
                                    <img src="/img/product-img/레미제라블3.jpg">
                                </div>
                                <div class="info">
                                    <div class="book-title">레미제라블3</div>
                                    <div class="book-writer">저자 | 빅토르 위고</div>
                                    <div class="book-price">2,500 원</div>
                                </div>
                            </a>
                        </li>

                        <li class="product">
                            <a href="#">
                                <div class="img-box">
                                    <img src="/img/product-img/코딩의 기술.jpg">
                                </div>
                                <div class="info">
                                    <div class="book-title">코딩의 기술</div>
                                    <div class="book-writer">저자 | 오즈 모리하루</div>
                                    <div class="book-price">12,000 원</div>
                                </div>
                            </a>
                        </li>

                        <li class="product">
                            <a href="#">
                                <div class="img-box">
                                    <img src="/img/product-img/모든 순간이 너였다.jpg">
                                </div>
                                <div class="info">
                                    <div class="book-title">모든 순간이 너였다</div>
                                    <div class="book-writer">저자 | 하태완</div>
                                    <div class="book-price">10,000 원</div>
                                </div>
                            </a>
                        </li>

                        <li class="product">
                            <a href="#">
                                <div class="img-box">
                                    <img src="/img/product-img/제노사이드.jpg">
                                </div>
                                <div class="info">
                                    <div class="book-title">제노사이드</div>
                                    <div class="book-writer">저자 | 다카노 가즈아키</div>
                                    <div class="book-price">8,000 원</div>
                                </div>
                            </a>
                        </li>

                        <li class="product">
                            <a href="#">
                                <div class="img-box">
                                    <img src="/img/product-img/공산당 선언.jpg">
                                </div>
                                <div class="info">
                                    <div class="book-title">공산당 선언</div>
                                    <div class="book-writer">저자 | 칼 마르크스</div>
                                    <div class="book-price">3,000 원</div>
                                </div>
                            </a>
                        </li>

                        <li class="product">
                            <a href="#">
                                <div class="img-box">
                                    <img src="/img/product-img/이웃집 토토로.jpg">
                                </div>
                                <div class="info">
                                    <div class="book-title">이웃집 토토로</div>
                                    <div class="book-writer">저자 | 미야자키 하야오</div>
                                    <div class="book-price">10,000 원</div>
                                </div>
                            </a>
                        </li>

                        <li class="product">
                            <a href="#">
                                <div class="img-box">
                                    <img src="/img/product-img/원피스 25권.jpg">
                                </div>
                                <div class="info">
                                    <div class="book-title">원피스 25권</div>
                                    <div class="book-writer">저자 | 오다 에이치로</div>
                                    <div class="book-price">3,500 원</div>
                                </div>
                            </a>
                        </li>

                        <li class="product">
                            <a href="#">
                                <div class="img-box">
                                    <img src="/img/product-img/꽃보다 남자.webp">
                                </div>
                                <div class="info">
                                    <div class="book-title">꽃보다 남자</div>
                                    <div class="book-writer">저자 | 카미오 요코</div>
                                    <div class="book-price">3,000 원</div>
                                </div>
                            </a>
                        </li>

                        <li class="product">
                            <a href="#">
                                <div class="img-box">
                                    <img src="/img/product-img/7년의 밤.jpg">
                                </div>
                                <div class="info">
                                    <div class="book-title">7년의 밤</div>
                                    <div class="book-writer">저자 | 정유정</div>
                                    <div class="book-price">10,000 원</div>
                                </div>
                            </a>
                        </li>
                        
                        <li class="product">
                            <a href="#">
                                <div class="img-box">
                                    <img src="/img/product-img/7년의 밤.jpg">
                                </div>
                                <div class="info">
                                    <div class="book-title">7년의 밤</div>
                                    <div class="book-writer">저자 | 정유정</div>
                                    <div class="book-price">10,000 원</div>
                                </div>
                            </a>
                        </li>
                        
                        <li class="product">
                            <a href="#">
                                <div class="img-box">
                                    <img src="/img/product-img/7년의 밤.jpg">
                                </div>
                                <div class="info">
                                    <div class="book-title">7년의 밤</div>
                                    <div class="book-writer">저자 | 정유정</div>
                                    <div class="book-price">10,000 원</div>
                                </div>
                            </a>
                        </li>
                        
                        <li class="product">
                            <a href="#">
                                <div class="img-box">
                                    <img src="/img/product-img/7년의 밤.jpg">
                                </div>
                                <div class="info">
                                    <div class="book-title">7년의 밤</div>
                                    <div class="book-writer">저자 | 정유정</div>
                                    <div class="book-price">10,000 원</div>
                                </div>
                            </a>
                        </li>
                         -->
                        
                    </ul>
                    
                </div>
                
            </div>

			<div class="main-bottom">
			
				<div class="board-search">
				
					<div class="board-search-center">
						<form action="/product/getSearchList" method="get">
						
							<div class="board-search-choice-square1">
								<input type="hidden" name="reqPage" id="currentPage" value="1">
								<select name="type" class="board-type" id="option">
									<option value="title">제목</option>
									<option value="content">내용</option>
									<option value="writer">작성자</option>
								</select>
							</div>
							
							<div class="board-board-search">
								<div class="board-board-search-box">
									<input type="text" name="keyword" id="keyword" placeholder="검색어를 입력해주세요" required>
									<button type="button" class="boardSearchBtn" id="board-enter">
										<span class="material-icons">search</span>
									</button>
								</div>
							</div>
							
						</form>
					</div>
					
					<div class="board-write-button"  th:if="${session.m != null && session.m.memberLevel != 3}">
						<a href="/product/writeFrm" class="board-btn">글쓰기</a>
					</div>
				
				</div>
				
			</div>
			
			<div>
				<div id="pageNavi" th:utext="${pageNavi}"></div>
			</div>

        </div>
    </div>
	
	<th:block th:include="common/footer"></th:block>
	
	<script src="/javascript/productBoard.js"></script>
	
</body>
</html>