<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>글쓰기</title>
<link rel="stylesheet" href="/css/productBoardWriteFrm.css">
</head>
<body>

	<div class="header"></div>
	
	<div class="main">
		<div class="main-wrap">
		
			<!-- 홈 > 중고거래게시판 -->
            <div class="main-top-text">
                <span class="top-text1">홈 </span>
                <span class="top-text2"> > </span>
                <span class="top-text3">중고거래게시판</span>
            </div>

            <!-- 글쓰기 -->
            <div class="main-mid">
                <div>
                    <span class="mid-text1">글쓰기</span>
                </div>
                
                <form action="/product/write" method="post" enctype="multipart/form-data">
                	<table class="tbl productWrite">

						<th class="td-3">제목</th>
						<td>
							<input type="text" name="productTitle" class="input-form">
						</td>
						
						<th class="td-3">글쓴이</th>
						<td>
							<input type="text" name="productWriter" class="input-form">
                		</td>
                		
                	</table>
                </form>
            </div>
            
		</div>
	</div>
	
	<div class="footer"></div>

</body>
</html>