<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>내가 쓴 게시물</title>
<link rel="stylesheet" href="/css/mypage.css">
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<div class="page-content">
		<div class="page-title">마이페이지</div>
		<th:block th:include="mypage/mypageMenu"></th:block>
		<div class="mypage-content-wrap">
			<div class="mypage-content-title">구매요청 현황</div>
			
			<table class="mypage-tbl">
				<tr class="mypageTr mypageTr-1">
					<th style="width:5%">번호</th>
					<th style="width:30%">책제목</th>
					<th style="width:20%">저자</th>
					<th style="width:10%">가격</th>
					<th style="width:10%">작성자</th>
					<th style="width:15%">요청 날짜</th>
					<th style="width:10%">거래후기</th>
				</tr>
				<tr class="mypageTr mypageTr-2"> <!-- th:each="list : ${myBoardList}" -->
					<td>100</td>
					<td>모든 순간이 너였다</td>
					<td>하태완</td>
					<td>12000원</td>
					<td>user01</td>
					<td>2023-08-30</td>
					<td><button class="post-btn byRequestBtn byRequestBc1">거래평가</button></td>
				</tr>
				<tr class="mypageTr mypageTr-2"> <!-- th:each="list : ${myBoardList}" -->
					<td>101</td>
					<td>데미안</td>
					<td>헤르만 헤세</td>
					<td>4000원</td>
					<td>user02</td>
					<td>2023-08-30</td>
					<td><button class="post-btn byRequestBtn byRequestBc1">거래평가</button></td>
				</tr>
				<tr class="mypageTr mypageTr-2"> <!-- th:each="list : ${myBoardList}" -->
					<td>102</td>
					<td>레미제라블</td>
					<td>빅토르 위고</td>
					<td>8000원</td>
					<td>user02</td>
					<td>2023-08-30</td>
					<td><button class="post-btn byRequestBtn byRequestBc1">거래평가</button></td>
				</tr>
				<!-- 
				담겨오는정보들
				Board(boardNo=103, boardTitle=게시판 테스트103, boardContent=테스트용, boardWriter=user01, boardRegDate=2023-08-22, boardReadCount=0, fileList=null)
				 -->
			</table>
			<div id="pageNavi" th:utext="${pageNavi}"></div>
		
		
		</div>
	</div>
	<th:block th:include="common/footer"></th:block>


	
</body>
</html>