<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>내가 쓴 게시물</title>
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<div class="page-content">
		<div class="page-title">마이페이지 내가쓴 게시물</div>
		<th:block th:include="mypage/mypageMenu"></th:block>
		<div class="mypage-content-wrap">
			<div class="mypage-content-title">내가 쓴 게시물</div>
			<table class="mypage-tbl">
				<tr class="mypageTr mypageTr-1">
					<th style="width:10%">번호</th>
					<th style="width:30%">제목</th>
					<th style="width:20%">작성자</th>
					<th style="width:15%">작성일</th>
					<th style="width:15%">조회수</th>
					<th style="width:15%"></th>
				</tr>
				<tr class="mypageTr mypageTr-2" th:each="list : ${myBoardList}">
					<td th:text="${list.boardNo}">11</td>
					<td th:text="${list.boardTitle}"></td>
					<td th:text="${list.boardWriter}">유저01</td>
					<td th:text="${list.boardRegDate}">2023-08-21</td>
					<td th:text="${list.boardReadCount}"></td>
					<td>
						<p style="display : none" class="toControllPath" value="/mypage/myBoardDelete?boardNo=">모달에 컨트롤 경로지정</p>
						<!-- <button class="btn bc1 modal-open-btn deleteBtn" target="#delete-modal">삭제</button> -->
						<button class="btn bc1 modal-open-btn deleteBtn" target="#delete-modal" th:value="${list.boardNo}">삭제</button>
					</td>
				</tr>
				<!-- 
				담겨오는정보들
				Board(boardNo=103, boardTitle=게시판 테스트103, boardContent=테스트용, boardWriter=user01, boardRegDate=2023-08-22, boardReadCount=0, fileList=null)
				 -->
			</table>
			<div id="pageNavi" th:utext="${pageNavi}"></div>
			
		
		
		</div>
	</div>
	<th:block th:include="common/footer"></th:block>

	<!-- 삭제 모달 -->
	    <div id="delete-modal" class="modal-bg">
	      <div class="modal-wrap">
	        <div class="modal-head">
	          <h2>정말 삭제하시겠습니까?</h2>
	          <span class="material-icons close-icon modal-close">close</span>
	        </div>
	        <div class="modal-content btn-box">
	          <p></p>
	          <p></p>
	          <p></p>
	          <a class="btn bc1 deleteBtn">삭제</a>
	          <button class="btn bc1 modal-close">창닫기</button>
	        </div>
	        <div class="modal-foot">
	        </div>
	      </div>
    	</div>
	
</body>
</html>