<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>내가 쓴 게시물</title>
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<div class="page-content">
		<div class="page-title">마이페이지 내가쓴 게시물</div>
		<th:block th:include="mypage/mypageMenu"></th:block>
		<div class="mypage-content-wrap">
			<div class="mypage-content-title">내가 쓴 게시물</div>
			<table class="mypage-tbl">
				<tr class="mypageTr mypageTr-1">
					<th style="width:10%">번호</th>
					<th style="width:45%">제목</th>
					<th style="width:20%">작성자</th>
					<th style="width:15%">작성일</th>
					<th style="width:15%">조회수</th>
				</tr>
				<tr class="mypageTr mypageTr-2">
					<td>11</td>
					<td>제목제목제목</td>
					<td>유저01</td>
					<td>2023-08-21</td>
					<td>33</td>
				</tr>
				<tr class="mypageTr mypageTr-2">
					<td>11</td>
					<td>제목제목제목</td>
					<td>유저01</td>
					<td>2023-08-21</td>
					<td>33</td>
				</tr>
				<tr class="mypageTr mypageTr-2">
					<td>11</td>
					<td>제목제목제목</td>
					<td>유저01</td>
					<td>2023-08-21</td>
					<td>33</td>
				</tr>
				<tr class="mypageTr mypageTr-2">
					<td>11</td>
					<td>제목제목제목</td>
					<td>유저01</td>
					<td>2023-08-21</td>
					<td>33</td>
				</tr>
				<tr class="mypageTr mypageTr-2">
					<td>11</td>
					<td>제목제목제목</td>
					<td>유저01</td>
					<td>2023-08-21</td>
					<td>33</td>
				</tr>
			</table>
			<div id="pageNavi">페이지 나비</div>
			
		
		
		</div>
	</div>
	<th:block th:include="common/footer"></th:block>

</body>
</html>