<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>나의 댓글</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<div class="page-content">
		<div class="page-title">마이페이지</div>
		<th:block th:include="mypage/mypageMenu"></th:block>
		<div class="mypage-content-wrap">
			<div class="myComment-wrap">
				<div class="mypage-content-title">
					<a href="#" class="myBoardComment-title"><h2>자유게시판 댓글</span></h2>
					<a href="/mypage/myProductBoardComment?reqPage=1" class="myProductBoardComment-title"><span>중고책방 댓글</span></a>
				</div>
				<div class="myComment-one" th:each="list : ${myBoardCommentList}">
					<div class="myComment-wrap">
						<a href="#">
							<div class="myComment">
								<p><span th:text="${list.board.boardTitle}">th문법 제목 달릴곳</span> 에 남긴 댓글</p>
								<p th:text="${list.boardCommentContent}"></p>
							</div>
							<div class="comment-imgBox">
		                    	<img src="/img/product-img/매미울음소리 그칠 무렵.jpg">
							</div>
						</a>
						<a><span class="material-icons">clear</span></a>
					</div>
					<p class="myComment-date">작성일 : <span th:text="${list.boardCommentDate}"></span> </p>
				</div>
			</div>
		</div>
	</div>
	<th:block th:include="common/footer"></th:block>

	<script>
		const currentTitle = $(".mypage-content-title").children(".myBoardComment-title");
		currentTitle.addClass("mypage-content-title-hover");

	</script>
</body>
</html>