<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>나의 댓글</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<div class="page-content">
		<div class="page-title">마이페이지</div>
		<th:block th:include="mypage/mypageMenu"></th:block>
		<div class="mypage-content-wrap">
			<div class="myComment-wrap">
				<div class="mypage-content-title">
					<a href="/mypage/myComment?reqPage=1" class="myBoardComment-title"><span>독서노트 댓글</span></a>
					<a href="#" class="myProductBoardComment-title"><h2>중고책방 댓글</h2></a>
				</div>
				<div class="myComment-one" th:each="list : ${myProductBoardCommentList}">
					<div class="myComment-wrap">
						<a th:href="@{/product/productDetail(productBoardNo=${list.product.productBoardNo})}">
							<div class="myComment">
								<p><span th:text="${list.product.productBoardTitle}">어느게시글에 달린 댓글인지</span> 에 남긴 댓글</p>
								<p th:text="${list.productCommentContent}">여기는 중고책판 댓글내용</p>
								
								
							</div>
							<div class="comment-imgBox">
		                    	<img th:src="${list.productFile.filepath}">
		                    	<!-- <img src="/img/product-img/매미울음소리 그칠 무렵.jpg"> -->
							</div>
						</a>
						<a><span class="material-icons">clear</span></a>
					</div>
					<p class="myComment-date">댓글 작성일 : <span th:text="${list.productCommentDate}"></span> </p>
					
				</div>
				
			</div>
			<div id="pageNavi" th:utext="${pageNavi}"></div>
		</div>
	</div>
	<th:block th:include="common/footer"></th:block>

	<script>
		const currentTitle = $(".mypage-content-title").children(".myProductBoardComment-title");
		currentTitle.addClass("mypage-content-title-hover");

	</script>
</body>
</html>