<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<div class="page-content">
		<div class="page-title">마이페이지</div>
		<th:block th:include="mypage/mypageMenu"></th:block>
		<div class="mypage-content-wrap">
			<div class="mypage-content-title">내가 판매 중 인 도서</div>
			<div class="wishList-wrap">
				<div class="wishList-one" th:each="list : ${mySellBookList}">
				<!-- a태그나 다름 없는데 th:onclick 에서 ||써보고 싶었음 -->
					<div class="wishList-toProductDetail" th:onclick="|location.href='@{/product/productDetail(productBoardNo=${list.productBoardNo})}'|">
						<div class="wishList-imgBox" >
	                    	<!-- <img src="/img/product-img/매미울음소리 그칠 무렵.jpg"> -->
	                    	<img th:src="${list.productFile.getFilepath}">
						</div>
						<!-- <p><span class="productBoardNo" th:text="${list.productBoardNo}"></span>글번호</p> --><!-- 글번호보기 -->
						<!-- <a th:href="@{/product/productDetail(productBoardNo=${list.productBoardNo})}" th:text="${list.productBoardTitle}" class="productBoardTitle">제목</a> -->
						<div style="box-sizing: border-box; overflow: auto;"><p th:href="@{/product/productDetail(productBoardNo=${list.productBoardNo})}" th:text="${list.productBoardTitle}" class="productBoardTitle" style="margin: 0; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">제목</p></div>
						<div style="box-sizing: border-box; overflow: auto;"><p style="margin: 0; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" class="mySellBook-productAuthor" >저자 : <span class="mySellBook-productAuthor" th:text="${list.productAuthor}"></span></p></div>
						<!-- <p th:text="${list.productBoardWriter}">판매자user01</p> -->
						<p class="mySellBook-productPrice"><span th:text="${list.productPrice}"></span>원</p>
					</div>
					
					<div class="btn-box">
						<form action="/mypage/showConsumer">
							<!-- 프로덕트보드 넘겨주기 -->	
							<input type="hidden" name="productBoardNo" th:value="${list.productBoardNo}">
							<input type="hidden" name="productBoardTitle" th:value="${list.productBoardTitle}">
							<input type="hidden" name="productBoardContent" th:value="${list.productBoardContent}">
							<input type="hidden" name="productBoardWriter" th:value="${list.productBoardWriter}">
							<input type="hidden" name="productAuthor" th:value="${list.productAuthor}">
							<input type="hidden" name="productPrice" th:value="${list.productPrice}">
							<input type="hidden" name="productRegDate" th:value="${list.productRegDate}">
							<input type="hidden" name="productCondition" th:value="${list.productCondition}">
							
							<!-- 프로덕트 파일 넘겨주기 -->
							<input type="hidden" name="fileNo" th:value="${list.productFile.getFileNo}">
							<input type="hidden" name="productNo" th:value="${list.productFile.getProductNo}">
							<input type="hidden" name="filename" th:value="${list.productFile.getFilename}">
							<input type="hidden" name="filepath" th:value="${list.productFile.getFilepath}">
							
							<input type="hidden" name="reqPage" value="1">					
							<button type="submit" class="btn bc1 showConsumer-btn" href="/mypage/showConsumer">고객 정보 보기</button><!-- form태그 submit로 해야 편할듯 -->
							<!-- <a class="btn bc1" href="/mypage/showConsumer">고객 정보 보기</a>form태그 submit로 해야 편할듯 -->
							
						
						</form>
						<!-- <a class="btn bc1 modal-open-btn" target="#delete-modal" th:href="@{/mypage/mySellBookDelete(productBoardNo=${list.productBoardNo})}" th:value="${list.productBoardNo}">판매취소</a> -->
						<p style="display : none" class="toControllPath" value="/mypage/mySellBookDelete?productBoardNo=">모달에 컨트롤 경로지정</p>
						<!-- <button class="btn bc1 modal-open-btn deleteBtn" target="#delete-modal" th:value="${list.productBoardNo}">판매취소</button> -->
					</div>
				</div>
				<!-- 
				${mySellBookList}에 담겨 있는 이름들
				
				productBoardTitle
				productBoardContent
				productBoardWriter
				productRegDate
				productPrice
				productAuthor
				productAuthor
				productCondition
				productSellCheck
				readCount
				filepath
				
				-->
				
			</div>
			<div id="pageNavi" th:utext="${pageNavi}"></div>
			
		</div>
	</div>
	
	<!-- 삭제 모달 -->
	    <div id="delete-modal" class="modal-bg">
	      <div class="modal-wrap">
	        <div class="modal-head">
	          <h2>정말 삭제하시겠습니까?</h2>
	          <span class="material-icons close-icon modal-close">close</span>
	        </div>
	        <div class="modal-content btn-box">
	          <p></p>
	          <p></p>
	          <p></p>
	          <a class="btn bc1 deleteBtn">삭제</a>
	          <button class="btn bc1 modal-close">창닫기</button>
	        </div>
	        <div class="modal-foot">
	        </div>
	      </div>
    	</div>
	<th:block th:if="${session.m !=null}">
    </th:block>
	
	<th:block th:include="common/footer"></th:block>
	
	
	<script>
		const wishListOne = $(".wishList-imgBox");
		const productBoardTitle = $(".productBoardTitle");
		
		wishListOne.on("click",function(){
			console.log("이미지 클릭이벤트 확인");
			productBoardTitle.click();
			productBoardTitle.trigger("click");
		});
		productBoardTitle.on("click",function(){
			console.log("a태그 클릭이벤트 확인");

		});

	</script>
</body>
</html>