<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<div class="page-content">
		<div class="page-title">마이페이지</div>
		<th:block th:include="mypage/mypageMenu"></th:block>
		<div class="mypage-content-wrap">
			<div class="mypage-content-title">내가 판매 중 인 도서</div>
			<div class="wishList-wrap">
				<div class="wishList-one" th:each="list : ${mySellBookList}">
					<div class="wishList-imgBox">
                    	<img src="/img/product-img/매미울음소리 그칠 무렵.jpg">
                    	<!-- <img th:src="${list.filepath}"> -->
					</div>
					<p><span class="productBoardNo" th:text="${list.productBoardNo}"></span>글번호</p>
					<p th:text="${list.productBoardTitle}"></p>
					<p>저자 : <span th:text="${list.productAuthor}"></span></p>
					<p th:text="${list.productBoardWriter}">판매자user01</p>
					<p><span th:text="${list.productPrice}"></span>원</p>
					<a class="btn bc1">판매완료</a>
					<!-- <a class="btn bc1 modal-open-btn" target="#delete-modal" th:href="@{/mypage/mySellBookDelete(productBoardNo=${list.productBoardNo})}" th:value="${list.productBoardNo}">판매취소</a> -->
					<p style="display : none" class="toControllPath" value="/mypage/mySellBookDelete?productBoardNo=">모달에 컨트롤 경로지정</p>
					<button class="btn bc1 modal-open-btn deleteBtn" target="#delete-modal" th:value="${list.productBoardNo}">판매취소</button>
				</div>
				<!-- 
				${mySellBookList}에 담겨 있는 이름들
				
				productBoardTitle
				productBoardContent
				productBoardWriter
				productRegDate
				productPrice
				productAuthor
				productAuthor
				productCondition
				productSellCheck
				readCount
				filepath
				
				-->
				
			</div>
			<div id="pageNavi" th:utext="${pageNavi}"></div>
			
		</div>
	</div>
	
	<!-- 삭제 모달 -->
	    <div id="delete-modal" class="modal-bg">
	      <div class="modal-wrap">
	        <div class="modal-head">
	          <h2>정말 삭제하시겠습니까?</h2>
	          <span class="material-icons close-icon modal-close">close</span>
	        </div>
	        <div class="modal-content btn-box">
	          <p></p>
	          <p></p>
	          <p></p>
	          <a class="btn bc1 deleteBtn">삭제</a>
	          <button class="btn bc1 modal-close">창닫기</button>
	        </div>
	        <div class="modal-foot">
	        </div>
	      </div>
    	</div>
	<th:block th:if="${session.m !=null}">
    </th:block>
	
	<th:block th:include="common/footer"></th:block>
	
</body>
</html>