<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<div class="page-content">
		<div class="page-title">마이페이지</div>
		<th:block th:include="mypage/mypageMenu"></th:block>
		<div class="mypage-content-wrap">
			<div class="mypage-content-title">내가 판매 중 인 도서</div>
			<div class="wishList-wrap">
				<div class="wishList-one" th:each="list : ${mySellBookList}">
					<div class="wishList-imgBox">
                    	<img src="/img/product-img/매미울음소리 그칠 무렵.jpg">
					</div>
					<p th:text="${list.productBoardTitle}"></p>
					<p>저자 : <span th:text="${list.productAuthor}"></span></p>
					<p th:text="${list.productBoardWriter}">판매자user01</p>
					<p><span th:text="${list.productPrice}"></span>원</p> 
				</div>
				<!-- 
				${mySellBookList}에 담겨 있는 이름들
				
				productBoardTitle
				productBoardContent
				productBoardWriter
				productRegDate
				productPrice
				productAuthor
				productAuthor
				productCondition
				productSellCheck
				readCount
				filepath
				
				 -->
				
				
			</div>
		</div>
	</div>
	<th:block th:include="common/footer"></th:block>
	
</body>
</html>