<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>나의 관심도서</title>
<link rel="stylesheet" href="/css/wishList.css">
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<div class="page-content">
		<div class="page-title">마이페이지</div>
		<th:block th:include="mypage/mypageMenu"></th:block>
		<div class="mypage-content-wrap">
			<div class="mypage-content-title">관심도서</div>
			<div class="wishList-wrap">
				<div class="wishList-one">
					<div class="wishList-imgBox">
                    	<img src="/img/product-img/매미울음소리 그칠 무렵.jpg">
					</div>
					<p>제목</p>
					<p>저자</p>
					<p>작성자</p>
					<p>3000원</p>
				</div>
				<div class="wishList-one">
					<div class="wishList-imgBox">
                    	<img src="/img/product-img/매미울음소리 그칠 무렵.jpg">
					</div>
					<p>제목</p>
					<p>저자</p>
					<p>작성자</p>
					<p>3000원</p>
				</div>
				<div class="wishList-one">
					<div class="wishList-imgBox">
                    	<img src="/img/product-img/매미울음소리 그칠 무렵.jpg">
					</div>
					<p>제목</p>
					<p>저자</p>
					<p>작성자</p>
					<p>3000원</p>
				</div>
				<div class="wishList-one">
					<div class="wishList-imgBox">
                    	<img src="/img/product-img/매미울음소리 그칠 무렵.jpg">
					</div>
					<p>제목</p>
					<p>저자</p>
					<p>작성자</p>
					<p>3000원</p>
				</div>
				<div class="wishList-one">
					<div class="wishList-imgBox">
                    	<img src="/img/product-img/매미울음소리 그칠 무렵.jpg">
					</div>
					<p>제목</p>
					<p>저자</p>
					<p>작성자</p>
					<p>3000원</p>
				</div>
				<div class="wishList-one">
					<div class="wishList-imgBox">
                    	<img src="/img/product-img/매미울음소리 그칠 무렵.jpg">
					</div>
					<p>제목</p>
					<p>저자</p>
					<p>작성자</p>
					<p>3000원</p>
				</div>
				
			</div>
		</div>
	</div>
	<th:block th:include="common/footer"></th:block>
	

</body>
</html>