<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>자유게시판</title>

<!-- 구글 아이콘 -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- jquery -->
<script src="/js/jquery-3.7.0.js"></script>
<!-- 기본 CSS -->
<link rel="stylesheet" href="/css/board.css">

	
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<div class="page-content">
		<div class="page-title">
            <p>홈</p>
            <p>></p>
            <p>독서노트</p>
        </div>
		<div th:if="${#lists.isEmpty(boardList)}" style="padding-top: 10%; text-align: center;">
		<p>검색된 항목이 없습니다.</p>
		<br>
		<a href="/board/list?reqPage=1" style="color:#005A0D; border-bottom:1px solid #005A0D; font-family:ns-light; font-size:15.5px;">목록으로 돌아가기</a>
		</div>
		
		<!-- 어떠한 글도 없을때 0 >> 글쓰기 버튼 -->
			<div class="board-write-button" th:if="${#lists.isEmpty(boardList)}">
				<!-- 로그인되어있으면서 회원일때 -->
				<a th:if="${session.m !=null && (session.m.memberLevel == 1 || session.m.memberLevel == 2)}" href="/board/writeFrm" class="board-btn board-write-button">글쓰기</a>
			</div>
			
			
			<div th:if="${#lists.isEmpty(boardList) == false}">
				<table class="tbl tbl-hover notice-tbl" id="boardtable">
			<tr class="tr-2">
				<th style="width:10%">번호</th>
				<th style="width:45%">제목</th>
				<th style="width:15%">작성자</th>
				<th style="width:20%">작성일</th>
				<th style="width:10%">조회수</th>
			</tr>
			<tr class="tr-1" th:each="board : ${boardList}">
				<td th:text ="${board.boardNo}"></td>
				<td><a th:href ="@{/board/view(boardNo=${board.boardNo})}" th:text="${board.boardTitle}" id="titleLine"></a></td> <!-- board/view?boardNo=105 -->
				<td th:text="${board.boardWriter}"></td>
				<td th:text="${board.boardRegDate}"></td>
				<td th:text="${board.boardReadCount}"></td>
			</tr>
		</table>
		
		<div class="board-search">
				<div class="board-search-center">
				<form action="/board/getSearchList" method="get">
					<div class="board-search-choice-square1">
						<input type="hidden" name="reqPage" id="currentPage" value="1">
 						<select name="type" class="board-type" id="option">
							<option value="title">제목</option>
							<option value="content">내용</option>
							<option value="writer">작성자</option>
						</select>
					</div>
					<div class="board-board-search">
						<div class="board-board-search-box">
							<input type="text" name="keyword" id="keyword" placeholder="검색어를 입력해주세요" required>
							<button class="boardSearchBtn" id="board-enter">
								<span class="material-icons">search</span>
							</button>
						</div>
					</div>
					</form>
				</div>
				
				
			<!-- 글쓰기 버튼 -->
			<div class="board-write-button">
				<!-- 로그인되어있으면서 회원일때 -->
				<a th:if="${session.m !=null && (session.m.memberLevel == 1 || session.m.memberLevel == 2)}" href="/board/writeFrm" class="board-btn board-write-button">글쓰기</a>
			</div>
		</div>
		<div id="pageNavi" th:utext="${pageNavi}"></div>   <!-- 태그로 동작시킬려고 utext 로 가져옴 -->
		</div>
	</div>
	<th:block th:include="common/footer"></th:block>
	
	
	
		<script>
		
		/////페이지 1로 초기화		
		//$("#board-enter").on("click",function(){
		//	$("#currentPage").val(1);
		//});

		

	
		/*
		/////현재 페이지 값  -- 중요!
		const currentPage = window.location.search;
		let bset = currentPage.split('=');

		var bsetStr = bset[1];
		
		if(bsetStr.indexOf('&')>=0){
			let realPageSplit = bsetStr.split('&');
			var realPage = realPageSplit[0];
			
			$("#currentPage").val(realPage);
		}else{
			$("#currentPage").val(bsetStr);
		}
		
		*/

		/*
		///////게시판 내 검색
		
			
			$("#board-enter").on("click",function(){
			
			$.ajax({
					url:"/board/getSearchList",
					type:"GET",
					data :  {reqPage:reqPage,type:type,keyword:keyword}, 
					dataType : "json",
					success : function(data){
						console.log(data);
						
						
						//테이블 초기화
						$(".tr-1").empty();
						$("#pageNavi").empty();
						
						if(data.length>=1){
							data.forEach(function(item){
								str="<tr class='tr-1'>";
								str+= "<td>"+item.boardNo+"</td>";
								str+="<td>"+item.boardTitle+"</td>";
								str+="<td>"+item.boardWriter+"</td>";
								str+="<td>"+item.boardRegDate+"</td>";
								str+="<td>"+item.boardReadCount+"</td>";
								str+="</tr>";
								$('#boardtable').append(str);
			        			});
							
								$(".board-search").next().append(str)
						};
						
					}
				});
			
			}); 
		*/
	
	</script>
	
	
	
	
	
	
</body>
</html>