<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- 구글 아이콘 -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- jquery -->
<script src="/js/jquery-3.7.0.js"></script>
<!-- 기본 CSS -->
<link rel="stylesheet" href="/css/fna.css">
<!-- 기본 js -->
</head>
<body>
<th:block th:include="common/header"></th:block>
 <div class="page-content">

		<div class="page-title">
            <p>홈</p>
            <p>></p>
            <p>서비스</p>
            <p>></p>
            <p>자주묻는 질문</p>
        </div>
        
        <table class="tbl tbl-hover FnA-tbl">
            <tr class="tbl tr-3">
                <th class="greenfna" colspan="2">[F & A]</th>
            </tr>
            <tr class="tr-1 fna">
                
                <td> <div class="title">Q.블랙리스트 지정 사유</div>
                <div class="slideTogglebox">
                   <div>
                   <p> 1. 사기신고 당한 자</p>
                   <p> 2. 구매자의 신고로 민원이 들어온 자</p>
                   <p> 3. 시세보다 월등히 비싸게 파는 자</p>
                   <p> 4. 경찰조사가 들어간 자</p>
                   <p> 5. 실명과 예금주의 이름이 일치하지않은 자</p>
                   <p> 6. 도용된 계정인 경우</p>
                   <p> 7. 판매사진이 거짓인 경우</p>
                   </div>
                </div>
            </td>
            </tr>
            <tr class="tr-1 fna">
              
                <td><div class="title">Q.블랙리스트 해지조건</div>
                    <div class="slideTogglebox">
                    <div>
                       <p> 1. 경찰조사 후 사기행각이 사실이 아닌경우</p>
                       <p> 2. 관리자의 판단으로 정상계정으로 확인되었을 경우</p>
                    </div>
                </div>
            </td>
            </tr>
            <tr class="tr-1 fna">
               
                <td>
                    <div class="title">Q.거래 시 사기행각 신고</div>
                    <div class="slideTogglebox">
                    <div>
                    <p>
                        거래 중 이상 정황을 포착하시거나 사기피해시 <span>YNA@gmail.com</span>으로 관리자에게 문의하세요!!
                    </p>
                    </div>
                    </div>
        </td>
            </tr>
             <tr class="tr-1 fna">
                
                <td>
                    <div class="title">Q.클린 댓글,쪽지 공지</div>
                    <div class="slideTogglebox">
                    <div>
                    <p>
                        불쾌한 욕설이 포함된 댓글과 쪽지는 관리자에 의해 삭제될 수 있습니다! 거래 시 바른말 고운말로 댓글과 쪽지 남기기 실천해 주세요!!
                    </p>
                    </div>
                    </div>
        </td>
            </tr>


        </table>
    </div>
  
    <th:block th:include="common/footer"></th:block>
      <script>
	  $('.slideTogglebox').css("display","none");
	  $('.title').click(function() {
      $(this).next().slideToggle();
      });
	 /*
           $(document).ready(function(){
    	     $('#title').click(function(){
    	       $('#slideTogglebox').slideToggle();
    	     })
    	   });
    	   $(document).ready(function(){
    	     $('#title1').click(function(){
    	       $('#slideTogglebox1').slideToggle();
    	     })
    	   });
    	   $(document).ready(function(){
    	     $('#title2').click(function(){
    	       $('#slideTogglebox2').slideToggle();
    	     })
    	   });*/
      
      </script>
</body>
</html>