<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회원 관리</title>
<!-- 구글 아이콘 -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- jquery -->
<script src="/js/jquery-3.7.0.js"></script>
<!-- 기본 CSS -->
<link rel="stylesheet" href="/css/admin.css">
<!-- 기본 js -->
<script src="/js/find.js"></script>
</head>
<body>

	<th:block th:include="common/header"></th:block>
	<div class="page-content">
		<div class="page-title admintitle">
            <p>홈</p>
            <p>></p>
            <p>관리자페이지</p>
        </div>

		
		<button class="btn bc1 bc1-1 modal-open-btn findbtn" target="#find-modal">회원찾기</button>
		
  <!--회원찾기 모달 -->	
		 <div id="find-modal" class="modal-bg">
   		<div class="modal-wrap">
       		<div class="modal-head headcss">
       			<h2>Find Member:)</h2>
       			<span class="material-icons close-icon modal-close">close</span>
       		</div>
       		<form action="/member/findresult" method="post">
	       		<div class="modal-content">
					<div class="input-box">
					<form action="/member/findresult" method="post">
						<input type="text" id="find" name="memberId" class="inputid" placeholder="조회할 회원아이디" >
		                <button  type="submit" class="btn bc1 bc1-1" id="find">회원정보조회</button>
		                </form>
		                
		                <!--<button class="btn bc1 bc1-1" id="jQ">회원정보조회</button> 
		                <table class=" ajaxResult" id="result"></table> --> 
					</div>				
	       		</div>
	       		<div class="modal-foot">
		          
	       		</div>
    		</form>
     		</div>
   	</div>
   	
   	
   	
   	<div class="levelSearch">
				<form action="/member/levelSearchList" method="get">
					<div class="levelSearch-ChoiceBox">
						<input type="hidden" name="reqPage" id="currentPage" value="1">
 						<select name="memberlevel" class="level-type" id="option">
							<option value="1">관리자</option>
							<option value="2">그린이</option>
							<option value="3">블랙이</option>
						</select>
						<button><span class="material-icons">search</span></button>
					</div>
					</form>
				</div>
	
   	
   	
   	
		
		<table class="tbl tbl-hover">
			<tr class="tr-3 .green">
				<!-- <th>선택</th> -->
				<th>회원번호</th>
				<th>아이디</th>
				<th>이름</th>
				<th>전화번호</th>
				<th>이메일</th>
				<th>가입일</th>
				<th>신뢰도</th>
				<th>회원등급</th>
				<th>등급변경</th>
			</tr>
			<tr class="tr-1" th:each="m : ${adminList}">
				<!-- <td><input type="checkbox" class="chk"></td> -->
				<td th:text="${m.memberNo}"></td>
				<td class="sendMsg" th:text="${m.memberId}"></td>
				<td th:text="${m.memberName}"></td>
				<td th:text="${m.memberPhone}"></td>
				<td th:text="${m.memberEmail}"></td>
				<td th:text="${m.enrollDate}"></td>
				<td th:text="${m.grade}"></td>
				<td th:switch=${m.memberLevel}>
				<select th:case="1"class="input-form">
						<option value="1" selected>관리자</option>
						<option value="2">그린이</option>
						<option value="3">블랙이</option>
				</select>
				<select th:case="2"class="input-form">
						<option value="1">관리자</option>
						<option value="2"selected>그린이</option>
						<option value="3">블랙이</option>
				</select>
				<select th:case="3"class="input-form">
						<option value="1">관리자</option>
						<option value="2">그린이</option>
						<option value="3" selected>블랙이</option>
				</select>
				</td>
				<td>
					<button class="btn bc1 bc1-1 changeLevel">회원등급변경</button>
				</td>
			</tr>
			
		</table>
		
		<!-- <button class="bc1 bs5 checkedchangeLevel">선택회원 등급변경</button> -->
        
        <div id = "pageNavi" th:utext="${pageNavi}"></div>
        
	</div>
	
	
	
	
	
	
	
	<!-- 쪽지 쓰기 모달 -->
	<div class="sendMsg-modal-wrap" th:if="${session.m != null}">
    	<div class="sendMsg-modal">
	        <div class="modal-title">
	            <h3>쪽지 쓰기</h3>
	           	<hr>
	        </div>
	        <form action="/msg/adminSendMsg" method="post">
	            <div class="sendMsg-modal-content">
	                <span><strong>받는 사람</strong></span>
	                <span class="receiver"></span>
	                <th:block th:if="${session.m != null}">
	                	<input type="hidden" name="reqPage" th:value="${reqPage}">
	                	<input type="hidden" name="sender" th:value="${session.m.memberId}">
	                </th:block>
	                <input type="hidden" name="receiver" id="receiver">
	                <textarea name="message" class="s-input-form" id="sendMsgTextarea"></textarea>
	            </div>
	            <button type="submit" class="modalBtn s-bc1" id="msgSubmit">보내기</button>
	            <button type="button" class="modalBtn s-bc2" id="sendMsgCancel">취소</button>	        
	        </form>
    	</div>
    </div>
    
    <!-- 쪽지 내용 없을 때 모달 -->
    <div class="msg-modal-wrap" th:if="${session.m != null}">
        <div class="sendMsg-modal">
            <div class="msg-modal-top">
                <h4>쪽지 내용을 입력해주시기 바랍니다.</h4>
            </div>
            <div class="msg-modal-content">
				<button type="button" class="msgBtn s-bc2" id="msg-modal-close">닫기</button>
            </div>
        </div>
    </div>	
	<th:block th:include="common/footer"></th:block>
	
	
	
	<script>
	
	/*
	$(".checkedchangeLevel").on("click",function(){
		const check = $(".chk:checked");
		if(check.length == 0){
			return;
		}
		const no = new Array();
		const level = new Array();
		
		check.each(function(index,item){
			const memberNo = $(item).parent().next().text();
			const memberLevel = $(item).parent().parent().find("select").val();
			no.push(memberNo);
			level.push(memberLevel);
			
			
		});
		
		location.href="/member/checkedchangeLevel?no="+no.join("/")+"&level="+level.join("/");
	
	});
	*/
	
	
	$(".changeLevel").on("click",function(){
		const memberLevel = $(this).parent().prev().children().val();
		const memberNo = $(this).parent().parent().children().eq(0).text();
		console.log(memberLevel);
		console.log(memberNo);
		location.href="/member/changeLevel?memberNo="+memberNo+"&memberLevel="+memberLevel; 
	});
	
	//쪽지 쓰기
	$(".sendMsg").on("click", function(){
		const receiver = $(this).text();
		if(receiver != "admin"){
			//쪽지쓰기 모달 열기
			$(".sendMsg-modal-wrap").css("display","flex");
			//textarea 초기화
			$("#sendMsgTextarea").val("");
			//받는 사람 데이터 넣어주기
			$(".receiver").text(receiver);
			$("#receiver").val(receiver);
		}
	});
	
	//쪽지 쓰기 모달 닫기
	$("#sendMsgCancel").on("click", function(){
		$(".sendMsg-modal-wrap").css("display","none");
	});		
	
	//쪽지 내용 없을 때 모달 띄우기
	$("#msgSubmit").on("click", function(event){
		if($("#sendMsgTextarea").val() == ""){
			//쪽지 내용 입력하라는 모달 띄우기
			$(".msg-modal-wrap").css("display","flex");
			event.preventDefault();
		}
	});
	
	//쪽지 내용 입력하라는 모달 닫기
	$("#msg-modal-close").on("click", function(){
		$(".msg-modal-wrap").css("display","none");
	});
	
	</script>

</body>
</html>