<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- 구글 아이콘 -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- jquery -->
<script src="/js/jquery-3.7.0.js"></script>
<!-- 기본 CSS -->
<link rel="stylesheet" href="/css/admin.css">
<!-- 기본 js -->
<script src="/js/find.js"></script>
</head>
<body>

	<th:block th:include="common/header"></th:block>
	<div class="page-content">
		<div class="page-title">회원관리</div>

		 <input type="text" id="find" name="memberId" class="inputid" placeholder="조회할 회원아이디" >
		 <button class="btn bc1 bc1-1 findbtn" id="findjQ">회원정보 추가 조회</button>
		                
		
		<table class="tbl tbl-hover" id="admintbl">
			<tr class="tr-3 .green">
				<th>선택</th>
				<th>회원번호</th>
				<th>아이디</th>
				<th>비밀번호</th>
				<th>이름</th>
				<th>전화번호</th>
				<th>주소</th>
				<th>가입일</th>
				<th>회원등급</th>
				<th>등급변경</th>
			</tr>
			<tr class="tr-1">
				<td><input type="checkbox" class="chk"></td>
				<td th:text="${m.memberNo}"></td>
				<td th:text="${m.memberId}"></td>
				<td th:text="${m.memberPw}"></td>
				<td th:text="${m.memberName}"></td>
				<td th:text="${m.memberPhone}"></td>
				<td th:text="${m.memberEmail}"></td>
				<td th:text="${m.enrollDate}"></td>
				<td th:switch=${m.memberLevel}>
				<select th:case="1"class="input-form">
						<option value="1" selected>관리자</option>
						<option value="2">그린이</option>
						<option value="3">블랙이</option>
				</select>
				<select th:case="2"class="input-form">
						<option value="1">관리자</option>
						<option value="2"selected>그린이</option>
						<option value="3">블랙이</option>
				</select>
				<select th:case="3"class="input-form">
						<option value="1">관리자</option>
						<option value="2">그린이</option>
						<option value="3" selected>블랙이</option>
				</select>
				</td>
				<td>
					<button class="btn bc1 bc1-1 changeLevel">회원등급변경</button>
				</td>
			</tr>
			
		</table>
		
		<button class="bc1 bs5 checkedchangeLevel">선택회원등급변경</button>
        
	</div>
	<th:block th:include="common/footer"></th:block>
	
	
	
	<script>
	
	
	$(".checkedchangeLevel").on("click",function(){
		const check = $(".chk:checked");
		if(check.length == 0){
			return;
		}
		const no = new Array();
		const level = new Array();
		
		check.each(function(index,item){
			const memberNo = $(item).parent().next().text();
			const memberLevel = $(item).parent().parent().find("select").val();
			no.push(memberNo);
			level.push(memberLevel);
		});
		console.log(no);
		console.log(level);
		location.href="/member/checkedchangeLevel?no="+no.join("/")+"&level="+level.join("/");
		
	});
	
	
	$(".changeLevel").on("click",function(){
		const memberLevel = $(this).parent().prev().children().val();
		const memberNo = $(this).parent().parent().children().eq(1).text();
		console.log(memberLevel,memberNo);
		location.href="/member/changeLevel?memberNo="+memberNo+"&memberLevel="+memberLevel;
	});
	
///////엔터키
	document.getElementById("find")
    .addEventListener("keyup", function(e) {
        if (e.keyCode === 13) {
            document.getElementById("findjQ").click();
        }
    });
	
	
	
$("#findjQ").on("click",function(){
		
		
		const memberId = $("#find").val();
		$.ajax({
			url : "/member/find",
			type : "post",
			data : {memberId : memberId},
			dataType : "json",
			success : function(data){
				console.log(data);
				
				const tr = $("<tr>");
				tr.addClass("tr-1");
				
				const inputTd = $("<td>");
				const input = $("<input type='checkbox'>");
				input.addClass("chk");
				inputTd.append(input);
				
				const memberNoTd = $("<td>");
				memberNoTd.text(data.memberNo);
				
				const memberIdTd = $("<td>");
				memberIdTd.text(data.memberId);
				
				const memberPwTd = $("<td>");
				memberPwTd.text(data.memberPw);
				
				const memberNameTd = $("<td>");
				memberNameTd.text(data.memberName);
				
				const memberPhoneTd = $("<td>");
				memberPhoneTd.text(data.memberPhone);
				
				const memberEmailTd = $("<td>");
				memberEmailTd.text(data.memberEmail);
				
				const enrollDateTd = $("<td>");
				enrollDateTd.text(data.enrollDate);
				
				
				const memberLevelTd = $("<td>");
				const select = $("<select>");
				select.addClass("input-form");
				
				
				const option1 = $("<option value='1'>");
				option1.text("관리자");
				const option2 = $("<option value='2'>");
				option2.text("그린이");
				const option3 = $("<option value='3'>");
				option3.text("블랙이");
				select.append(option1).append(option2).append(option3);
				select.children().eq(data.memberLevel-1).prop("selected", true);
				
				memberLevelTd.append(select);
				
				
				const btnTd = $("<td>");
				const btn = $("<button>");
				btn.addClass("btn bc1 bc1-1 changeLevel");
				btn.text("회원등급변경");
				btnTd.append(btn);
				
				btn.on("click", function(){
					const memberLevel = $(this).parent().prev().children().val();
					const memberNo = $(this).parent().parent().children().eq(1).text();
					console.log(memberLevel,memberNo);
					location.href="/member/changeLevel?memberNo="+memberNo+"&memberLevel="+memberLevel;
				});
				
				
				
				tr.append(inputTd).append(memberNoTd).append(memberIdTd).append(memberPwTd).append(memberNameTd).append(memberPhoneTd).append(memberEmailTd).append(enrollDateTd).append(memberLevelTd).append(btnTd);
				$("#admintbl>tbody").append(tr);
				
				
		}
			
		})
		.fail(function() {
		    console.log( "error" );
		    alert("없는 회원입니다~!다시 검색해주세요~!");
		    /*
		    $().ready(function () {
	                Swal.fire({
	                    title: 'Alert가 실행되었습니다.',
	                    text: '이곳은 내용이 나타나는 곳입니다.',
	                });
	        });*/
		  })
		  

		
	
	});
	

	</script>
		

</body>
</html>