<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- 구글 아이콘 -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
<!-- jquery -->
<script src="/js/jquery-3.7.0.js"></script>
<!-- 기본 CSS -->
<link rel="stylesheet" href="/css/admin.css">
<!-- 기본 js -->
<script src="/js/find.js"></script>
</head>
<body>

	<th:block th:include="common/header"></th:block>
	<div class="page-content">
		<div class="page-title admintitle">
            <p>홈</p>
            <p>></p>
            <p>관리자페이지</p>
        </div>
          <div class="plusfind">
         <button class="btn bc1 bc1-1 findbtn" id="findjQ">회원정보 추가 조회</button>
		 <input type="text" id="find" name="memberId" class="find inputid" placeholder="조회할 회원아이디" >
		 </div>

		<table class="tbl tbl-hover" id="admintbl">
			<tr class="tr-3 .green">
				<th>선택</th>
				<th>회원번호</th>
				<th>아이디</th>
				<th>이름</th>
				<th>전화번호</th>
				<th>주소</th>
				<th>가입일</th>
				<th>신뢰도</th>
				<th>회원등급</th>
				<th>등급변경</th>
			</tr>
			<tr class="tr-1">
				<td><input type="checkbox" class="chk"></td>
				<td th:text="${m.memberNo}"></td>
				<td>
					<div class="adminMsgDiv">
						<span class="memberId" th:text="${m.memberId}"></span>
						<span th:if="${session.m != null && session.m.memberId != m.memberId}" class="material-icons-outlined msgIcon adminMsg">mail</span>
					</div>	
				</td>
				<td th:text="${m.memberName}"></td>
				<td th:text="${m.memberPhone}"></td>
				<td th:text="${m.memberEmail}"></td>
				<td th:text="${m.enrollDate}"></td>
				<td th:text="${m.grade}"></td>
				<td th:switch=${m.memberLevel}>
				<select th:case="1"class="input-form">
						<option value="1" selected>관리자</option>
						<option value="2">그린이</option>
						<option value="3">블랙이</option>
				</select>
				<select th:case="2"class="input-form">
						<option value="1">관리자</option>
						<option value="2"selected>그린이</option>
						<option value="3">블랙이</option>
				</select>
				<select th:case="3"class="input-form">
						<option value="1">관리자</option>
						<option value="2">그린이</option>
						<option value="3" selected>블랙이</option>
				</select>
				</td>
				<td>
					<button class="btn bc1 bc1-1 changeLevel">회원등급변경</button>
				</td>
			</tr>
			
		</table>
		
		<button class="bc1 bs5 checkedchangeLevel">선택회원등급변경</button>
        
	</div>
	<!-- 쪽지 쓰기 모달 -->
	<div class="sendMsg-modal-wrap">
    	<div class="sendMsg-modal">
	        <div class="modal-title">
	            <h3>쪽지 쓰기</h3>
	           	<hr>
	        </div>
	        <form action="/msg/findResultSendMsg" method="post">
	            <div class="sendMsg-modal-content">
	                <span><strong>받는 사람</strong></span>
	                <span class="receiver"></span>
	                <th:block th:if="${session.m != null}">
	                	<input type="hidden" name="sender" class="loginId" th:value="${session.m.memberId}">
	                </th:block>
	                <input type="hidden" name="receiver" id="receiver">
	                <textarea name="message" class="s-input-form" id="sendMsgTextarea"></textarea>
	            </div>
	            <button type="submit" class="modalBtn s-bc1" id="msgSubmit">보내기</button>
	            <button type="button" class="modalBtn s-bc2" id="sendMsgCancel">취소</button>	        
	        </form>
    	</div>
    </div>
    
    <!-- 쪽지 내용 없을 때 모달 -->
    <div class="msg-modal-wrap">
        <div class="sendMsg-modal">
            <div class="msg-modal-top">
                <h4>쪽지 내용을 입력해주시기 바랍니다.</h4>
            </div>
            <div class="msg-modal-content">
				<button type="button" class="msgBtn s-bc2" id="msg-modal-close">닫기</button>
            </div>
        </div>
    </div>	
	<th:block th:include="common/footer"></th:block>
	
	
	
<script src="/js/sweetalert.min.js"></script>
	<script>
	
	//쪽지 쓰기
	$(".adminMsg").on("click", function(){
		const receiver = $(this).prev().text();
		//쪽지쓰기 모달 열기
		$(".sendMsg-modal-wrap").css("display","flex");
		//textarea 초기화
		$("#sendMsgTextarea").val("");
		//받는 사람 데이터 넣어주기
		$(".receiver").text(receiver);
		$("#receiver").val(receiver);
	});

	//쪽지 쓰기 모달 닫기
	$("#sendMsgCancel").on("click", function(){
		$(".sendMsg-modal-wrap").css("display","none");
	});		

	//쪽지 내용 없을 때 모달 띄우기
	$("#msgSubmit").on("click", function(event){
		if($("#sendMsgTextarea").val() == ""){
			//쪽지 내용 입력하라는 모달 띄우기
			$(".msg-modal-wrap").css("display","flex");
			event.preventDefault();
		}
	});

	//쪽지 내용 입력하라는 모달 닫기
	$("#msg-modal-close").on("click", function(){
		$(".msg-modal-wrap").css("display","none");
	});

	
	
	//회원등급 바꾸기
	$(".changeLevel").on("click",function(){
		const memberLevel = $(this).parent().prev().children().val();
		const memberNo = $(this).parent().parent().children().eq(1).text();
		location.href="/member/changeLevel?memberNo="+memberNo+"&memberLevel="+memberLevel;
		
	});
	
///////엔터키
	document.getElementById("find")
    .addEventListener("keyup", function(e) {
        if (e.keyCode === 13) {
            document.getElementById("findjQ").click();
        }
    });
	
	
	
$("#findjQ").on("click",function(){
		
		
		const memberId = $("#find").val();
		$.ajax({
			url : "/member/find",
			type : "post",
			data : {memberId : memberId},
			dataType : "json",
			success : function(data){
				console.log(data);
				
	
				
				const tr = $("<tr>");
				tr.addClass("tr-1");
				
				const inputTd = $("<td>");
				const input = $("<input type='checkbox'>");
				input.addClass("chk");
				inputTd.append(input);
				
				const memberNoTd = $("<td>");
				memberNoTd.text(data.memberNo);
				
				const memberIdSpan = $("<span>");
				memberIdSpan.text(data.memberId);
				const msgIconSpan = $("<span>");
				msgIconSpan.text("mail");
				msgIconSpan.attr('class', 'material-icons-outlined msgIcon adminMsg');
				
				const adminMsgDiv =  $("<div>");
				adminMsgDiv.attr('class', 'adminMsgDiv');
				adminMsgDiv.append(memberIdSpan);
				adminMsgDiv.append(msgIconSpan);
				const memberIdTd = $("<td>");
				memberIdTd.append(adminMsgDiv);					
	
				const memberNameTd = $("<td>");
				memberNameTd.text(data.memberName);
				
				const memberPhoneTd = $("<td>");
				memberPhoneTd.text(data.memberPhone);
				
				const memberEmailTd = $("<td>");
				memberEmailTd.text(data.memberEmail);
				
				const enrollDateTd = $("<td>");
				enrollDateTd.text(data.enrollDate);
				
				const memberGradeTd = $("<td>");
				memberGradeTd.text(data.grade);
				
				
				const memberLevelTd = $("<td>");
				const select = $("<select>");
				select.addClass("input-form");
				
				
				const option1 = $("<option value='1'>");
				option1.text("관리자");
				const option2 = $("<option value='2'>");
				option2.text("그린이");
				const option3 = $("<option value='3'>");
				option3.text("블랙이");
				select.append(option1).append(option2).append(option3);
				select.children().eq(data.memberLevel-1).prop("selected", true);
				
				memberLevelTd.append(select);
				
				
				const btnTd = $("<td>");
				const btn = $("<button>");
				btn.addClass("btn bc1 bc1-1 changeLevel");
				btn.text("회원등급변경");
				btnTd.append(btn);
				
				btn.on("click", function(){
					const memberLevel = $(this).parent().prev().children().val();
					const memberNo = $(this).parent().parent().children().eq(1).text();
					location.href="/member/changeLevel?memberNo="+memberNo+"&memberLevel="+memberLevel;
				
				});
				//로그인한 아이디와 회원 아이디 일치 시 쪽지 아이콘 안 보이게 하기(자기 자신에게 쪽지 안보내게)
				const loginId = $(".loginId").val();
				if(data.memberId == loginId){
					msgIconSpan.css("display","none");
				}
				msgIconSpan.on("click", function(){
					const receiver = $(this).prev().text();
					console.log(receiver);
					//쪽지쓰기 모달 열기
					$(".sendMsg-modal-wrap").css("display","flex");
					//textarea 초기화
					$("#sendMsgTextarea").val("");
					//받는 사람 데이터 넣어주기
					$(".receiver").text(receiver);
					$("#receiver").val(receiver);
				});					
				
				tr.append(inputTd).append(memberNoTd).append(memberIdTd).append(memberNameTd).append(memberPhoneTd).append(memberEmailTd).append(enrollDateTd).append(memberGradeTd).append(memberLevelTd).append(btnTd);
				$("#admintbl>tbody").append(tr);
				
				
				
		}
			
		})
		.fail(function() {
		   
		    $().ready(function () {
		    	swal({
					title : '존재하지않는 회원입니다.',
					text : '회원아이디를 재검색 해주세요!'
					//icon : "info"
				})
		    	
	        });
		    
		
	        
		  })
		  
		 	    $("#find").val(null);		
		  

		
	
	});
$(".checkedchangeLevel").on("click",function(){
	const check = $(".chk:checked");
	if(check.length == 0){
		return;
	}
	const no = new Array();
	const level = new Array();
	
	check.each(function(index,item){
		const memberNo = $(item).parent().next().text();
		const memberLevel = $(item).parent().parent().find("select").val();
		no.push(memberNo);
		level.push(memberLevel);
	});
	location.href="/member/checkedchangeLevel?no="+no.join("/")+"&level="+level.join("/");
	
});

	

</script>
		

</body>
</html>