<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회원가입</title>
<link rel="stylesheet" href="/css/join.css">
<script src="/js/jquery-3.7.0.js"></script>
</head>
<body>
    <div class="wrap">
        <div class="title">
            <h1>회원가입</h1>
        </div>
        <div class="content">
            <div class="hr">
                <span class="red">*</span><span>필수 입력 사항</span>
                <hr>
            </div>
            <form name="checkIdFrm" action="/member/checkId" method="post"> 
                <input type="hidden" name="checkId">
            </form>
            <form action="/member/signup" method="post" id="signupFrm" autocomplete="off">
                <table class="tbl">
                    <tr>
                        <th>
                            <label for="memberId">아이디<span class="red">*</span><span id="ajaxCheckId"></span></label>
                        </th>
                        <td>
                            <div class="id-wrap">
                                <input type="text" name="memberId" id="memberId" class="input-form" placeholder="4글자 이상, 영어 소문자+숫자 입력 가능" required>
                                <button type="button" id="idChkBtn" class="btn bc1">중복체크</button>					
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label for="memberPw">비밀번호<span class="red">*</span></label>
                        </th>
                        <td>
                            <input type="password" name="memberPw" id="memberPw" class="input-form" placeholder="비밀번호를 입력해주세요" required>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label for="memberPwRe">비밀번호 확인<span class="red">*</span></label>
                        </th>
                        <td>
                            <input type="password" name="memberPwRe" id="memberPwRe" class="input-form" placeholder="비밀번호를 한번 더 입력해주세요" required>	
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label for="memberName">이름<span class="red">*</span></label>
                        </th>
                        <td>
                            <input type="text" name="memberName" id="memberName" class="input-form" placeholder="이름을 입력해주세요" required>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label for="memberPhone">휴대폰<span class="red">*</span></label>
                        </th>
                        <td>
                            <input type="text" name="memberPhone" id="memberPhone" class="input-form" placeholder="010-0000-0000" required>			
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label for="memberEmail">이메일<span class="red">*</span></label>
                        </th>
                        <td>
                            <div class="id-wrap">
                                <input type="text" name="memberEmail" id="memberEmail" class="input-form" placeholder="greenbook@green.com" required>
                                <button type="button" id="emailChkBtn" class="btn bc1">인증하기</button>	
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label>이용약관동의<span class="red">*</span></label>
                        </th>
                        <td>
                            <div class="all">
                                <input type="checkbox" id="allAgreement" class="allCheck">
                                <label for="allAgreement">전체 동의합니다.</label>
                            </div>
                            <div class="agreement">
                                <input type="checkbox" id="useAgreement" class="agreecheck">
                                <label for="useAgreement"><span class="red">[필수] </span>이용 약관 동의</label>
                            </div>
                            <div class="agreeContent">
                                <ul>
                                    <li>수집항목 : 이름, 휴대전화번호, 생년월일, 비밀번호</li>
                                    <li>수집·이용목적 : 회원제 서비스 제공</li>
                                    <li>보유 및 이용기간 : 회원탈퇴 시까지</li>
                                </ul>
                            </div>
                            <div class="agreement">
                                <input type="checkbox" id="privacyAgreement" class="agreecheck">
                                <label for="privacyAgreement"><span class="red">[필수] </span>개인정보 수집·이용 동의</label>
                            </div>
                            <div class="agreeContent">
                                <ul>
                                    <li>수집항목 : 이름, 휴대전화번호, 생년월일, 비밀번호</li>
                                    <li>수집·이용목적 : 회원제 서비스 제공</li>
                                    <li>보유 및 이용기간 : 회원탈퇴 시까지</li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="btn-box">
                    <button type="submit" class="btn bc1">회원가입</button>
                    <button type="button" class="btn bc2">취소</button>
                </div>
            </form>
        </div>
	</div>
    <script>
        $("#allAgreement").click(function() {
            if($("#allAgreement").is(":checked")) $(".agreecheck").prop("checked", true);
            else $(".agreecheck").prop("checked", false);
        });
    </script>
</body>
</html>