<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>로그인</title>
<link rel="stylesheet" href="/css/login.css">
<script src="/js/jquery-3.7.0.js"></script>
</head>
<body>
	<th:block th:include="common/header"></th:block>
	<div class="wrap">
        <div class="title">
            <h1>로그인</h1>
        </div>
        <form action="/member/login" method="post">
            <div class="content">
                <div class="input-box">
                    <input type="text" name="memberId" class="s-input-form" placeholder="아이디를 입력해주세요" autocomplete="off">
                    <input type="password" name="memberPw" class="s-input-form" placeholder="비밀번호를 입력해주세요" autocomplete="off">	
                </div>
                <div class="link-box">
                  <a href="/member/searchIdFrm">아이디 찾기</a>
                  <span>｜</span>
                  <a href="/member/searchPwFrm">비밀번호 찾기</a>
                </div>
                <div class="btn-box">
                    <button type="submit" class="s-btn s-bc1">로그인</button>
                    <a href="/member/joinFrm"><button type="button" class="s-btn s-bc2">회원가입</button></a>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-wrap">
        <div class="search-modal">
        	<div class="modal-top">
                <h2>로그인</h2>
            </div>
            <div class="modal-content">
				<p id="msg"></p>
				<button type="button" class="s-btn s-bc2" id="close">닫기</button>
            </div>
        </div>
    </div>
    <th:block th:include="common/footer"></th:block>
    <script>
    	$("button[type=submit]").on("click",function(event){
    		if($("input[name=memberId]").val() == "" || $("input[name=memberPw]").val() == ""){
    			$("#msg").text("아이디 또는 비밀번호를 입력해주세요.");
    			//모달 열기
    			$(".modal-wrap").css("display","flex");
    			event.preventDefault();
    		}
    	});
    	//모달 닫기
		$("#close").on("click", function(){
			$(".modal-wrap").css("display","none");
		});
    </script>
</body>
</html>