<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>비밀번호찾기</title>
<link rel="stylesheet" href="/css/searchPw.css">
<script src="/js/jquery-3.7.0.js"></script>
</head>
<body>
    <div class="wrap">
        <div class="title">
            <h1>비밀번호 찾기</h1>
        </div>
        <div class="content">
            <div class="sub-title">
                <span>이메일로 찾기</span>
                <hr>
            </div>
            <div class="input-box">
                <label for="memberId">아이디</label>
                <input type="text" name="memberId" id="memberId" class="input-form" placeholder="ID를 입력해주세요" autocomplete="off">
                <label for="memberEmail">이메일</label>
                <input type="text" name="memberEmail" id="memberEmail" class="input-form" placeholder="가입 시 기재했던 이메일을 입력해주세요" autocomplete="off">	
            </div>
            <div class="btn-box">
                <button type="button" class="btn bc2" id="btn">확인</button>
            </div>
        </div>
    </div>
    <div class="modal-wrap">
        <div class="search-modal">
            <div class="modal-top">
                <h2>비밀번호 찾기</h2>
            </div>
            <div class="modal-content">
				<p id="searchPw"></p>
				<button type="button" class="btn bc2" id="close">닫기</button>
            </div>
        </div>
    </div>
    <script>
    	$("#btn").on("click", function(){
			const memberId = $("#memberId").val();
			const memberEmail = $("#memberEmail").val();
    		$.ajax({
    			url : "/member/searchPw",
    			type : "post",
    			data : {memberId : memberId, memberEmail : memberEmail},
    			success : function(data) {
					if(data == ""){
						console.log("일치하는 회원정보가 없습니다.")
					}else{
						console.log(data);
					}
    			}
    		});
    	});
    </script>
</body>
</html>