<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>비밀번호찾기</title>
<link rel="stylesheet" href="/css/searchPw.css">
<script src="/js/jquery-3.7.0.js"></script>
</head>
<body>
	<th:block th:include="common/header"></th:block>
    <div class="wrap">
        <div class="title">
            <h1>비밀번호 찾기</h1>
        </div>
        <div class="content">
            <div class="sub-title">
                <span>이메일로 찾기</span>
                <hr>
            </div>
            <div class="input-box">
                <label for="memberId">아이디</label>
                <input type="text" name="memberId" id="memberId" class="s-input-form" placeholder="ID를 입력해주세요" autocomplete="off">
                <label for="memberEmail">이메일</label>	
                <input type="text" name="memberEmail" id="memberEmail" class="s-input-form" placeholder="가입 시 기재했던 이메일을 입력해주세요" autocomplete="off">
            </div>
            <div class="btn-box">
                <button type="button" class="s-btn s-bc2" id="btn">확인</button>
            </div>
        </div>
    </div>
    
    <!-- 비밀번호 변경 모달 -->
    <div class="modal-wrap">
        <div class="search-modal">
            <div class="modal-top">
                <h2>비밀번호 찾기</h2>
            </div>
            <div class="modal-content">
            	<div class="fail">
					<p id="searchPw"></p>
					<button type="button" class="s-btn s-bc2 close">닫기</button>            	
            	</div>
            	<div class="emailAuth">
					<div id="auth">
						<input type="text" id="authCode" placeholder="인증번호입력">
						<button type="button" id="authBtn">인증하기</button>
						<span id="timeZone"></span>
					</div>
					<div class="msg">
						<span id="authMsg"></span>
					</div>
            	</div>
            	<div class="success">
            		<form action="/member/updatePw" method="post">
            			<div class="input-box">
            				<input type="hidden" name="memberNo" id="memberNo">
	            			<label for="memberPw">새 비밀번호</label>
	            			<input type="password" name="memberPw" id="memberPw" class="s-input-form" placeholder="새 비밀번호를 입력해주세요" required>
							<div class="id-wrap">
                       			<span id="checkPw"></span>
                       		</div>            			
            			</div>
            			<div class="btn-box">
                			<button type="submit" class="s-btn s-bc1">확인</button>
                			<button type="button" class="s-btn s-bc2 close">닫기</button>
            			</div>
            		</form>
            	</div>
            </div>
        </div>
    </div>
    <th:block th:include="common/footer"></th:block>
    <script>
    let authCode = null;
    const checkArr = [false, false];
    
   	//확인 버튼 누를 시
   	$("#btn").on("click", function(){
		const memberId = $("#memberId").val();
		const memberEmail = $("#memberEmail").val();
		const emailReg = /^[A-Za-z0-9_\.\-]+@[A-Za-z0-9\-]+\.[A-Za-z0-9\-]+/;
		//아이디 입력된 경우
		if(memberId != ""){
			//유효한 메일 주소가 입력된 경우
			if(emailReg.test(memberEmail)){
				
	    		$.ajax({
	    			url : "/member/searchPw",
	    			type : "post",
	    			data : {memberId : memberId, memberEmail : memberEmail},
	    			success : function(data) {
						$(".modal-wrap").css("display","flex");
						//일치하는 회원 정보가 없는 경우
						if(data == ""){
							$(".fail").show();
							$(".emailAuth").hide();
							$(".success").hide();
							$("#searchPw").text("일치하는 회원 정보가 없습니다.");
							
						//일치하는 회원 정보가 있는 경우 -> 이메일 인증 & 새 비밀번호로 변경
						}else{
							$("#memberNo").val(data.memberNo);
							$(".fail").hide();
							$(".success").hide();
							$(".emailAuth").show();
							//이메일 인증
				        	$.ajax({
						        url : "/member/auth",
						        data : {memberEmail : memberEmail},
						        type : "post",
						        success : function(data1) {
						            authCode = data1;
						            $("#auth").slideDown();
						            authTime();
						            $("#authBtn").on("click",function(){
							            if(authCode != null){
							                const inputCode = $("#authCode").val();
							                
							                if(authCode == inputCode){
							                    $("#authMsg").text("인증완료");
							                    $("#authMsg").css("color","blue");
							                    window.clearInterval(intervalId);
							                    $("#timeZone").empty();
							                	checkArr[0] = true;
							                	//비밀번호 변경
												$(".fail").hide();
												$(".emailAuth").hide();
												$(".success").show();
												$("#memberPw").on("change",function(){
										    	    //비밀번호 : 영어 소문자+대문자+숫자로 8~12글자
										    	    const pwReg = /^[a-zA-Z0-9]{8,12}$/;
										    	    const inputPw = $("#memberPw").val();
										    	    const check = pwReg.test(inputPw);
										    	    if(check){
										    	        //정규표현식 만족한 경우
										    	        $("#checkPw").text("사용 가능한 비밀번호입니다.");
										    	        $("#checkPw").css("color","blue");
										    	        $(this).css("border","1px solid blue");
										    	        checkArr[1] = true;
										    	    }else{
										    	        //정규표현식 만족하지 못한 경우
										    	        $("#checkPw").text("비밀번호는 영어 대문자, 소문자, 숫자로 8~12글자입니다.");
										    	        $("#checkPw").css("color","red");
										    	        $(this).css("border","1px solid red");
										    	        checkArr[1] = false;
										    	    }//완료
										    	});//완료
							                }else{
							                    $("#authMsg").text("메일코드를 확인하세요");
							                    $("#authMsg").css("color","red");
							                    checkArr[0] = false;
							                }//완료
							            }//완료
				    				});
						        }
				        	});
						}
							$("button[type=submit]").on("click", function(event){
							    const check = checkArr[0] && checkArr[1];
							    if(!check){
							        event.preventDefault();
							    }//완료
							});//완료
				        	
	    				//닫기 버튼 클릭 시 모달 닫기
	    				$(".close").on("click", function(){
	    					$(".modal-wrap").css("display","none");
	    				});//완료    				
	    			}
	    		});
			}else{
				//유효한 메일 주소가 입력되지 않은 경우
				$("#searchPw").text("유효하지 않은 이메일 주소입니다.");
   				//모달 열기
   				$(".modal-wrap").css("display","flex");
				$(".fail").show();
				$(".emailAuth").hide();
				$(".success").hide();
   				//닫기 버튼 클릭 시 모달 닫기
   				$(".close").on("click", function(){
   					$(".modal-wrap").css("display","none");
   				});
			}
		}else{
			//아이디가 입력되지 않은 경우
			$("#searchPw").text("아이디를 입력해주시기 바랍니다.");
			//모달 열기
			$(".modal-wrap").css("display","flex");
			$(".fail").show();
			$(".emailAuth").hide();
			$(".success").hide();
			//닫기 버튼 클릭 시 모달 닫기
			$(".close").on("click", function(){
				$(".modal-wrap").css("display","none");
			});
		}
   	});
    	
   	//이메일 인증 타이머 시작
   	let intervalId = null;
   	function authTime() {
   	    $("#timeZone").html("<span id='min'>3</span> : <span id='sec'>00</span>");
   	    intervalId = window.setInterval(function(){
   	        const min = $("#min").text();
   	        const sec = $("#sec").text();
   	        if(sec == "00"){
   	            if(min == "0") {
   	                window.clearInterval(intervalId);
   	                authCode = null;
   	                $("#authMsg").text("인증 시간 만료");
   	                $("#authMsg").css("color", "red");
   	                checkArr[0] = false;
   	            }else{
   	                const newMin = Number(min) - 1;
   	                $("#min").text(newMin);
   	                $("#sec").text(59);						
   	            }
   	        }else{
   	            const newSec = Number(sec) - 1;
   	            if(newSec < 10) {
   	                $("#sec").text("0"+newSec);
   	            }else{
   	                $("#sec").text(newSec);						
   	            }
   	        }
   	    }, 1000);
   	}
    </script>
</body>
</html>