<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>자유게시판</title>

<!-- 구글 아이콘 -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- jquery -->
<script src="/js/jquery-3.7.0.js"></script>
<!-- 기본 CSS -->
<link rel="stylesheet" href="/css/board.css">
<link rel="stylesheet" href="/css/default.css">


	
</head>
<body>
	<th:block th:include="common/header"></th:block>


        <div class="page-content">

            <div class="page-title">
				<p>최신게시물</p>
            </div>

            <!-- 최신게시물 / 상품리스트 -->
            
            <table class="tbl tbl-hover notice-tbl" id="boardtable">
			<tr class="tr-2">
				<th style="width:10%">번호</th>
				<th style="width:45%">제목</th>
				<th style="width:15%">작성자</th>
				<th style="width:20%">작성일</th>
				<th style="width:10%">조회수</th>
			</tr>
			
			
			<tr class="tr-1" th:each="mainSearchList : ${mainSearchList}">
				<td th:text ="${mainSearchList.boardNo}"></td>
				<td><a th:href ="@{/board/view(boardNo=${mainSearchList.boardNo})}" id="titleLine"><span>[자유게시판]</span><span th:text="${mainSearchList.boardTitle}" ></span></a></td> 
				<td th:text="${mainSearchList.boardWriter}"></td>
				<td th:text="${mainSearchList.boardRegDate}"></td>
				<td th:text="${mainSearchList.boardReadCount}"></td>
			</tr>
			
			
			</table>
			
			<div>
				<div id="pageNavi" th:utext="${pageNavi2}"></div>
			</div>

        </div>

    
    
    
	
	<th:block th:include="common/footer"></th:block>		
		
		
</body>
</html>	    