<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>자유게시판</title>

<!-- 구글 아이콘 -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- jquery -->
<script src="/js/jquery-3.7.0.js"></script>
<!-- 기본 CSS -->
<link rel="stylesheet" href="/css/board.css">
<link rel="stylesheet" href="/css/default.css">

<style>

#btn{
width:150px; height:45px; margin-bottom:5px; background-color: #fff; border: 1px solid #005A0D;
color:#005A0D;
transition-duration: 0.5s;
}
#btn:hover{
	background-color:  #005A0D;
    color: #fff;
    cursor: pointer;
}


</style>

	
</head>
<body>
	<th:block th:include="common/header"></th:block>


        <div class="page-content">

            <div class="page-title" >
				<p style="font-size: 28px;">통합검색</p>
            </div>
            <div th:if="${#lists.isEmpty(mainSearchList)}" style="padding-top: 10%; text-align: center;">검색된 항목이 없습니다.</div>
			
			
			<div th:if="${#lists.isEmpty(mainSearchList) == false}">
				<form action="/board/mainSearchList2">
				<input type="hidden" name="reqPage" th:value="${reqPage}" id="reqPage">
				<input type="hidden" name="keyword" th:value="${keyword}" id="keyword"> 
			
            	<!-- 필터 -->
            	<div style="position:fixed; transform: translate(-184px, 60px); display: grid;">
            		<button type="submit" id="btn" name=type value="product_board">중고책방</button>
            		<button type="submit" id="btn" name=type value="board">독서노트</button>
           		</div>
			</form>
            
            <table class="tbl tbl-hover notice-tbl" id="boardtable">
			<tr class="tr-2">
				<th style="width:1%"></th>
				<th style="width:45%">제목</th>
				<th style="width:15%">작성자</th>
				<th style="width:20%">작성일</th>
				<th style="width:10%">조회수</th>
			</tr>
			
			
				<tr class="tr-1" th:each="mainSearchList : ${mainSearchList}">
				<td></td>
				<td style="padding-left: 0px;">
					<a th:if="${mainSearchList.boardType.toString().equals('board')}" th:href ="@{/board/view(boardNo=${mainSearchList.boardNo})}" id="titleLine">
						<span style="padding-right:5px;">[독서노트]</span>
						<span th:text="${mainSearchList.boardTitle}" ></span>
					</a>
					
					<a th:if="${mainSearchList.boardType.toString().equals('product_board')}" th:href ="@{/product/productDetail(productBoardNo=${mainSearchList.boardNo})}" id="titleLine">
						<span style="padding-right:5px;">[중고책방]</span>
						<span th:text="${mainSearchList.boardTitle}" ></span>
					</a>
				</td> 
				<td th:text="${mainSearchList.boardWriter}"></td>
				<td th:text="${mainSearchList.boardRegDate}"></td>
				<td th:text="${mainSearchList.boardReadCount}"></td>
				</tr>
			</table>
			<div>
				<div id="pageNavi" th:utext="${pageNavi2}"></div>
			</div>
			
			
			
			</div>

        </div>

    
    
    
	
	<th:block th:include="common/footer"></th:block>		

		

		
</body>
</html>	    