/* 사용할 font 선언 */
@font-face {
    font-family: ns-thin;
    src: url(../font/NotoSansKR-Thin.otf);
  }
  @font-face {
    font-family: ns-light;
    src: url(../font/NotoSansKR-Light.otf);
  }
  @font-face {
    font-family: ns-m;
    src: url(../font/NotoSansKR-Medium.otf);
  }
  @font-face {
    font-family: ns-bold;
    src: url(../font/NotoSansKR-Bold.otf);
  }
  @font-face {
    font-family: ns-black;
    src: url(../font/NotoSansKR-Black.otf);
  }

* {
    margin: 0;
    padding: 0;
    color: #252a34;
    font-family: ns-l;
  }
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
.page-content {
    width: 1200px;
    margin: 30px auto;
    margin-bottom: 10px;
    flex-grow: 1;
  }
  .page-title {
    padding: 20px 0px;
    font-size: 1.5rem;
    overflow: hidden;
  }

.page-title>p{
    float: left;
    font-family: ns-bold;
    font-size: 20px;
    margin-right:10px;
}
.page-title>p:last-child{
    color:#005A0D;
}

  .tbl {
    margin-top: 60px;
    width: 100%;
    border-spacing: 0px;
    border-collapse: collapse;
  }
  .tbl th,
  .tbl td {
    padding: 1rem;
    text-align: center;
  }
.tbl .tr-2 {
    background-color: #fff;
    border-top:1px solid #005A0D;
    border-bottom:1px solid #005A0D;
  }

.notice-tbl tr>td:nth-child(2){
    text-align: left;
}

.tbl .tr-1 {
  background-color: #fff;
  border-top:1px solid #005A0D;
  border-bottom:1px solid #005A0D;
}
.tbl.tbl-hover .tr-1:hover {
  cursor: pointer;
}

#titleLine:hover{
	border-bottom:1px solid #005A0D;
}



/*제목 : 찾기*/
.board-search{
  margin-top: 30px;
  overflow: hidden;
}
.board-search-center{
  margin: 0 auto;
  width:424px;
}
.board-search-choice-square1{
  width:120px;
  margin-right: 2px;
  float: left;
}
.board-type{
  width:100%;
  height: 37px;
  border: 1px solid #005A0D;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(247, 247, 247) 0px 0px 0px 1px inset;
  font-size:15px;
  padding-left:10px;
}

.board-board-search{
  float:left;
}
.board-board-search-box{
  display: flex;
  width: 300px;
  height: 35px;
  border: 1px solid #005A0D;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(247, 247, 247) 0px 0px 0px 1px inset;
}

.board-board-search-box input{
  width: 280px;
  background-color: transparent;
  border: none;
  outline: none;
  font-size:15px;
  letter-spacing: -0.33px;
  padding-left: 14px; 
}
.board-board-search-box button{
  border:none;
  background-color: transparent;
  cursor:pointer;
  padding-top: 4px;
  padding-left: 20px;
}
.board-board-search-box button>span{
  font-size:27px;
  color: #005A0D;
}




/*글쓰기 버튼*/

.board-btn{
	float: right;
	
	width:120px;
	height:37px;
	border: 1px solid #005A0D;
	font-size:15px;
	text-align:center;
	
	padding-top:6px;
	box-sizing: border-box;
	transition-duration: 0.5s;
}
.board-write-button{
	color:#fff;
    background-color: #005A0D;
}
.board-write-button:hover{
	background-color: #fff;
    color:#005A0D;
    cursor: pointer;
}






/* 게시판 페이지 네비게이션 디자인 */
#pageNavi{
  margin:100px 30px 30px 30px ;
  
}
.pagination {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination > li {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  overflow: hidden;
  color:#005A0D;
}
.pagination.square-style > li {
  border-radius: 0%;
}
.pagination > li > a.page-item {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 18px;
}
.pagination > li > a.page-item > span.material-icons {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 40px;
  color:#005A0D;
}
.pagination .page-item.active-page {
  background-color: #005A0D;
  color: #fff;
}







/*게시물 상세보기*/
#board-title{
	font-size:25px;
}
#boardContentSize{
	height:auto;
	text-align:left;
	vertical-align:unset;    /*unset*/
	padding: 3.6rem;

	font-family:ns-m;
}


/*댓글*/
  .posting-comment {
    display: flex;
    border-top: 2px solid #ccc;
  
    list-style-type: none;
  }
  .posting-comment > li {
    box-sizing: border-box;
  }
  .posting-comment > li:first-child {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    border-right: 1px solid #ccc;
  }
  .posting-comment.reply > li:first-child {
    width: 20%;
  }
  .posting-comment > li:first-child .material-icons {
    font-size: 80px;
    color: #ccc;
  }
  .posting-comment.reply > li:first-child .material-icons:first-child {
    font-size: 40px;
    color: #ccc;
  }
  .posting-comment.reply > li:last-child {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  .posting-comment > li:last-child {
    display: flex;
    flex-direction: column;
    width: 85%;
  }
  .posting-comment > li:last-child > p {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
  }
  .posting-comment > li:last-child > .comment-info > span {
    padding: 0px 10px;
  }
  .posting-comment > li:last-child > .comment-info > span:not(:last-child) {
    border-right: 2px solid #ccc;
  }
  .posting-comment > li:last-child > .comment-content {
    padding: 0px 15px;
  }
  .posting-comment > li:last-child > .comment-link {
    text-align: right;
  }
  .posting-comment > li:last-child > .comment-link > a {
    margin: 0px 5px;
  }
  .posting-comment > li:last-child > .comment-link > a:hover {
    text-decoration: underline;
  }

  /* input 디자인 */
  .input-form {
    width: 100%;
    display: block;
    padding: 0.8rem;
    background-color: #fff;
    outline: none;
    border: 1px solid #ccc;
  
    box-sizing: border-box;
  }
  .input-form:focus {
    box-shadow: 0 0 0 0.1rem #eee;
  }
  
  textarea.input-form {
    resize: none;
    min-height: 300px;
  }
  .input-form:read-only:not(select),
  .input-form:disabled {
    background-color: #f7f7f9;
  }
  




/*댓글 등록 버튼*/
.commentbtn {
    border: none;
    padding: 1rem;
    display: inline-block;
    box-sizing: border-box;
    transition-duration: 0.5s;
    font-size: 16px;
    font-family: ns-light;
  }
  .commentbc1 {
    background-color:  #005A0D;
    color: #fff;
    border: 2px solid  #005A0D;
  }
  .commentbc1:hover {
    background-color:  #fff;
    color: #005A0D;
    cursor: pointer;
  }
.commentbs4 {
   width: 100%;
   padding: 2rem;
   font-size: 1.2em;
 }


/*게시글 수정,삭제*/
#modbtn-tr{
	border-style:unset;
}
#modbtn-th{
	font-weight:unset;
	overflow:hidden;
}
.modbtnfirst{
	float:left;
	position:relative;
	left:45.5%; 
}
.modbtnSecond{
	float:right;
}
.modbtn{
	border: none;
    padding: 5px 7px;
    display: inline-block;
    box-sizing: border-box;
    transition-duration: 0.5s;
    font-size: 16px;
    font-family: ns-light;
}
  .commentbc44 {
    color: #005A0D;;
    background-color: #fff;
    border: 1px solid #005A0D;;
  }
  .commentbc44:hover {
    background-color: #005A0D;
    color: #fff;
    cursor: pointer;
  }




/*file*/

	.file-wrap{
      display: flex;
      margin:10px 0px;
      flex-wrap: wrap;
  }
  .file-wrap .files{
      display: flex;
      align-items: center;
      margin: 0px 10px;
  }
  .delBtn{
      cursor:pointer;
      margin-left:5px;
      font-size:18px;	
  }



/*게시판 작성 버튼*/
.writingbtn {
    border: none;
    padding: 1rem;
    display: inline-block;
    box-sizing: border-box;
    transition-duration: 0.5s;
    font-size: 16px;
    font-family: ns-light;
  }
  .writingbc1 {
    background-color:  #005A0D;
    color: #fff;
    border: 2px solid  #005A0D;
  }
  .writingbc1:hover {
    background-color:  #fff;
    color: #005A0D;
    cursor: pointer;
  }
.writingbs4 {
   width: 13%;
   padding: 1rem;
   font-size: 1.2em;
 }

 .board-input-form {
    width: 100%;
    display: block;
    padding: 0.8rem;
    background-color: #fff;
    outline: none;
    border: 1px solid #005A0D;
  
    box-sizing: border-box;
  }
  .board-input-form:focus {
    box-shadow: 0 0 0 0.1rem #eee;
  }
  
  textarea.board-input-form {
    resize: none;
    min-height: 300px;
  }
  .board-input-form:read-only:not(select),
  .board-input-form:disabled {
    background-color: #f7f7f9;
  }





	/*게시글 수정*/
	
.boardUpdateFrm td, 
  .boardUpdateFrm th{
      border : 1px solid #005A0D;
  }

  .boardUpdateFrm td{
      text-align: left;
  }

  
  
  /*댓글 대댓글*/
  
   .posting-comment {
    display: flex;
    border-top: 2px solid #ccc;
  
    list-style-type: none;
    
    margin-top:15px;
  }
  .posting-comment > li {
    box-sizing: border-box;
  }
  .posting-comment > li:first-child {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    border-right: 1px solid #ccc;
  }
  .posting-comment.reply > li:first-child {
    width: 20%;
  }
  .posting-comment > li:first-child .material-icons {
    font-size: 80px;
    color: #ccc;
  }
  .posting-comment.reply > li:first-child .material-icons:first-child {
    font-size: 40px;
    color: #ccc;
  }
  .posting-comment.reply > li:last-child {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  .posting-comment > li:last-child {
    display: flex;
    flex-direction: column;
    width: 85%;
  }
  .posting-comment > li:last-child > p {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
  }
  .posting-comment > li:last-child > .comment-info > span {
    padding: 0px 10px;
  }
  .posting-comment > li:last-child > .comment-info > span:not(:last-child) {
    border-right: 2px solid #ccc;
  }
  .posting-comment > li:last-child > .comment-content {
    padding: 0px 15px;
  }
  .posting-comment > li:last-child > .comment-link {
    text-align: right;
  }
  .posting-comment > li:last-child > .comment-link > a {
    margin: 0px 5px;
  }
  .posting-comment > li:last-child > .comment-link > a:hover {
    text-decoration: underline;
  }
  
  
  
/*댓글 대댓글 입력*/
    .inputCommentBox{
      margin: 50px;
  }

  .inputCommentBox>form>ul{
      list-style-type: none;
      display: flex;
      
  }
  .inputCommentBox>form>ul>li:first-child{
      width: 15%;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .inputCommentBox>form>ul>li:first-child>span {
      font-size: 80px;
      color:#ccc;	
  }
  .inputCommentBox>form>ul>li:nth-child(2) {
      width:75%;
      margin-left:-10px;
  }
  .inputCommentBox>form>ul>li:nth-child(2)>textarea{
      height:96px;
      min-height: 96px;
  }
  .inputCommentBox>form>ul>li:last-child{
      width: 10%;
      margin-left:10px;
  }
  
  .commentBox{
      margin:50px;
  }
  .inputRecommentBox{
      margin : 30px 0px;
      display: none;
  }
  
 /*쪽지 쓰기 모달*/
.sendMsg-modal-wrap{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
}
.sendMsg-modal{
    width: 400px;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
}
.modal-title>h3{
    margin-bottom: 5px;
}
.sendMsg-modal-content{
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
}
.receiver{
    padding-left: 20px;
}
.s-input-form{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    font-size: 15px;
    display: block;
    padding: 10px;
    height: 150px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
    resize: vertical;
}
.modalBtn{
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    box-sizing: border-box;
    font-size: 15px;
    font-family: ns-light;
    margin-top: 10px;
    display: inline-block;
}
.s-bc1 {
    background-color: rgba(0, 90, 13, 0.9);
    color: #fff;
}
.s-bc1:hover {
    cursor: pointer;
}
.s-bc2 {
    border: 1px solid rgb(0, 90, 13);
    background-color: #fff;
    color: rgb(0, 90, 13);
}
.s-bc2:hover {
    cursor: pointer;
}
.boardWriter:hover {
	cursor: pointer;
}
.boardCommentWriter:hover {
	cursor: pointer;
}
.boardReCommentWriter:hover {
	cursor: pointer;
}