/* 사용할 font 선언 */
@font-face {
    font-family: ns-thin;
    src: url(../font/NotoSansKR-Thin.otf);
  }
  @font-face {
    font-family: ns-light;
    src: url(../font/NotoSansKR-Light.otf);
  }
  @font-face {
    font-family: ns-m;
    src: url(../font/NotoSansKR-Medium.otf);
  }
  @font-face {
    font-family: ns-bold;
    src: url(../font/NotoSansKR-Bold.otf);
  }
  @font-face {
    font-family: ns-black;
    src: url(../font/NotoSansKR-Black.otf);
  }

* {
    margin: 0;
    padding: 0;
    color: #252a34;
    font-family: ns-l;
  }
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
.page-content {
    width: 1200px;
    margin: 30px auto;
    margin-bottom: 10px;
    flex-grow: 1;
  }
  .page-title {
    padding: 20px 0px;
    font-size: 1.5rem;
    overflow: hidden;
  }

.page-title>p{
    float: left;
    font-family: ns-bold;
    font-size: 20px;
    margin-right:10px;
}
.page-title>p:last-child{
    color:#005A0D;
}

  .tbl {
    margin-top: 60px;
    width: 100%;
    border-spacing: 0px;
    border-collapse: collapse;
  }
  .tbl th,
  .tbl td {
    padding: 1rem;
    text-align: center;
  }
.tbl .tr-2 {
    background-color: #fff;
    border-top:1px solid #005A0D;
    border-bottom:1px solid #005A0D;
  }

.notice-tbl tr>td:nth-child(2){
    text-align: left;
}

.tbl .tr-1 {
  background-color: #fff;
  border-top:1px solid #005A0D;
  border-bottom:1px solid #005A0D;
}
.tbl.tbl-hover .tr-1:hover {
  cursor: pointer;
}

#titleLine:hover{
	border-bottom:1px solid #005A0D;
}



/*제목 : 찾기*/
.board-search{
  margin-top: 30px;
  overflow: hidden;
}
.board-search-center{
  margin: 0 auto;
  width:424px;
}
.board-search-choice-square1{
  width:120px;
  margin-right: 2px;
  float: left;
}
.board-type{
  width:100%;
  height: 37px;
  border: 1px solid #005A0D;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(247, 247, 247) 0px 0px 0px 1px inset;
  font-size:15px;
  padding-left:10px;
}

.board-board-search{
  float:left;
}
.board-board-search-box{
  display: flex;
  width: 300px;
  height: 35px;
  border: 1px solid #005A0D;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(247, 247, 247) 0px 0px 0px 1px inset;
}

.board-board-search-box input{
  width: 280px;
  background-color: transparent;
  border: none;
  outline: none;
  font-size:15px;
  letter-spacing: -0.33px;
  padding-left: 14px; 
}
.board-board-search-box button{
  border:none;
  background-color: transparent;
  cursor:pointer;
  padding-top: 4px;
  padding-left: 20px;
}
.board-board-search-box button>span{
  font-size:27px;
  color: #005A0D;
}






/*글쓰기 버튼*/
.board-write-button{
	float: right;
	
	width:120px;
	height:37px;
	border: 1px solid #005A0D;
	font-size:15px;
	text-align:center;
	
	padding-top:6px;
	box-sizing: border-box;
	transition-duration: 0.5s;
	
	background-color: #005A0D;

}
.board-btn{
	color: #fff;
	transition-duration: 0.5s;
}
.board-write-button:hover{
	background-color: #fff;
  	cursor: pointer;
}
.board-write-button:hover>.board-btn{
	color: #005A0D;
}







/* 게시판 페이지 네비게이션 디자인 */
#pageNavi{
  margin:100px 30px 30px 30px ;
  
}
.pagination {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination > li {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  overflow: hidden;
  color:#005A0D;
}
.pagination.square-style > li {
  border-radius: 0%;
}
.pagination > li > a.page-item {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 18px;
}
.pagination > li > a.page-item > span.material-icons {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 40px;
  color:#005A0D;
}
.pagination .page-item.active-page {
  background-color: #005A0D;
  color: #fff;
}

































