/* 사용할 font 선언 */
@font-face {
    font-family: ns-thin;
    src: url(../Noto_Sans_KR/static/NotoSansKR-Thin.ttf);
}
@font-face {
    font-family: ns-light;
    src: url(../Noto_Sans_KR/static/NotoSansKR-Light.ttf);
}
@font-face {
    font-family: ns-m;
    src: url(../Noto_Sans_KR/static/NotoSansKR-Medium.ttf);
}
@font-face {
    font-family: ns-bold;
    src: url(../Noto_Sans_KR/static/NotoSansKR-Bold.ttf);
}
@font-face {
    font-family: ns-black;
    src: url(../Noto_Sans_KR/static/NotoSansKR-Black.ttf);
}
/*기본 설정*/
*{
    margin: 0;
    padding: 0;
    color: #252a34;
    font-family: ns-m;
}
.total-wrap{
    width: 800px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.tabs{
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}
.tabs li{
    float: left;
    width: calc(100% / 2);
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.tabs li.active-tab{
    color: rgb(0, 90, 13);
}
.msg-wrap{
    width: 100%;
    margin:  0 auto;
    padding: 10px 20px;
    display: none;
    box-sizing: border-box;
    border: 1px solid rgba(245, 245, 245, 0.9);
}
.msg-wrap:hover{
	background-color: rgba(0, 0, 0, 0.01);
	cursor: pointer;
}
.first-line{
    overflow: hidden;
}
.who{
    float: left;
}
.date{
    float: right;
    font-size: 14px;
}
.second-line{
    overflow: hidden;
    font-size: 14px;
}
.title{
    float: left;
    margin-top: 10px;
}
.read{
    float: right;
    margin-top: 3px;
}
.material-symbols-outlined{
    color: red;
}
.s-btn{
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 40px;
    float: right;
    box-sizing: border-box;
    transition-duration: 0.5s;
    font-size: 16px;
    font-family: ns-light;
    margin-top: 20px;
}
.s-bc1 {
    background-color: rgba(0, 90, 13, 0.9);
    color: #fff;
}
.s-bc1:hover {
    cursor: pointer;
}
/*관리자에게 쪽지쓰기 모달*/
.adminMsg-modal-wrap,.msgView-modal-wrap,.replyMsg-modal-wrap{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
}
.adminMsg-modal{
    width: 400px;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
}
.modal-title>h3{
    margin-bottom: 5px;
}
.modal-content{
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
}
.receiver{
    padding-left: 20px;
}
.s-input-form{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    font-size: 15px;
    display: block;
    padding: 1.2rem;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
/*버튼*/
.modalBtn{
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    box-sizing: border-box;
    font-size: 15px;
    font-family: ns-light;
    margin-top: 10px;
    display: inline-block;
}
.s-bc2 {
    border: 1px solid rgb(0, 90, 13);
    background-color: #fff;
    color: rgb(0, 90, 13);
}
.s-bc2:hover {
    cursor: pointer;
}
/*쪽지 상세보기 모달*/
.modal-title{
    overflow: hidden;
}
#sender{
	padding-left: 20px;
    display: block;
    width: 90%;
    float: left;
    padding-left: 20px;
    box-sizing: border-box;
}
.modal-title>.material-icons{
    color: red;
    font-size: 20px;
    display: block;
    width: 10%;
    float: right;
    margin-top: 5px;
}
.modal-title>.material-icons:hover{
	cursor: pointer;
}
