
/* 
임시 초록
#D0F5BE

F2EE9D
7A9D54
557A46
8C3333


B31312 빨강

*/

*{
    margin: 0; 
    padding: 0;
}

/*모달*/

.modal-bg {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  width: 100%;
  height: 100vh;
  display: none;
  align-items: center;
  flex-direction: column;
}
.modal-wrap {
  margin-top: 150px;
  width: 600px;
  background: #fff;
  height: auto;
}
.modal-wrap div {
  padding: 1rem;
}
.modal-wrap div:not(:last-child) {
  border-bottom: 1px solid #ccc;
}
.modal-wrap .modal-foot {
  text-align: right;
}
.modal-wrap div.modal-head {
  position: relative;
}
.close-icon {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 30px;
}
.close-icon:hover {
  cursor: pointer;
}


/* 게시판 페이징 디자인 */
#pageNavi{
    margin:100px 30px 30px 30px ;
    
  }
  .pagination {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pagination > li {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    overflow: hidden;
    color:#005A0D;
  }
  .pagination.square-style > li {
    border-radius: 0%;
  }
  .pagination > li > a.page-item {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 18px;
  }
  .pagination > li > a.page-item > span.material-icons {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 40px;
    color:#005A0D;
  }
  .pagination .page-item.active-page {
    background-color: #005A0D;
    color: #fff;
  }

/* ~게시판 페이징 디자인 */




/* 마이페이지 디폴트 css */
.page-content{
    overflow: hidden;
}
.page-title{
    font-family: ns-bold;
    padding: 20px 0px;
    font-size: 1.5rem;
}



/* 마이페이지 메뉴 */
.mypage-menu{
    list-style: none;
    width: 150px;
    float: left;
    margin-right: 50px;
}
.mypage-menu>li>a{
    padding: 10px 20px;
    display: block;

}
.mypage-menu>li>a:hover {
	background-color: #005A0D;
    color: #fff;
    cursor: pointer;
}

/* 마이페이지 컨텐츠 쓰는 필드 */
.mypage-content-wrap{
	width: 1000px;
	float: left;
}

/* 마이페이지 컨텐츠 제목 디자인 */
.mypage-content-title{
    font-family: ns-bold;
    padding: 20px 0px;
    font-size: 30px;
    font-weight: 900px;
}
.mypage-content-title a{
    /* 나의 댓글, 중고책방 댓글 선택자 */
    font-size: 25px;
    padding: 10px 20px;
}
.mypage-content-title-hover{
    height: 100%;
    background-color: rgba(110, 110, 110, 0.2);
    border-radius: 10px;
}
.mypage-content-title-hover h2{
    font-size: 30px;
    /* font-weight: 900px; */
    display: inline;
}

/* 회원정보 */
.updateForm{
    width: 500px;
    /* background-color: blanchedalmond; */
    float: left;
    font-size: 20px;
    margin-left: 200px;
}
.user-box{
    text-align: center;
}
.user-box>.material-icons{
    /* span아이콘 선택자 */
    font-size: 100px;
}

.input-wrap{
    margin: 20px;
}

.updateForm input{
    float: right;
    font-size: 18px;

}

.btn-box{
    text-align: center;
}
.btn{
    border: none;
    padding: 0.5rem;
    display: inline-block;
    box-sizing: border-box;
    transition-duration: 0.5s;
    font-size: 16px;
    font-family: ns-light;    
    
}
.bc1 {
    color: #005A0D;
    background-color: #fff;
    border: 2px solid #005A0D;
}
.bc1:hover {
    background-color: #005A0D;
    color: #fff;
    cursor: pointer;
}


/* 내가 쓴 게시물 */
/* 제목 디자인 */


/* 테이블 디자인 */
.mypage-tbl{
    width: 100%;
    /* 이게 뭐지?? */
    /* border-collapse: collapse; */
    /* 좁은 간격이 있던데 간격 없애줌 */
    border-spacing: 0;

}
.mypage-tbl .mypageTr-1 th{
    /* 테이블 맨위 선택자 */
    background-color: #005A0D;
    color: #fff;
    font-size: 17px;
    padding: 10px 0px;

}

.mypageTr-2 td{
    /* 게시글 td 선택자 */
    text-align: center;
    border-top: 1px solid #005A0D;
    padding: 7px 0px;

}

.mypageTr:hover {
    /* 임시 호버색 */
    background-color: #f0f0f0;
    cursor: pointer;

}


/* 나의 댓글 css */

.myComment-one{
    overflow: hidden;
    background-color: rgba(110, 110, 110, 0.07);
    padding: 10px 0;
    border-radius: 20px;
    margin: 10px 0px;
}
.myComment-one:hover{
    background-color: rgba(110, 110, 110, 0.2);

}
.myComment-wrap{
    overflow: hidden;
}

.myComment{
    width: 700px;
    float: left;
}
.myComment p{
    padding: 10px 15px;
}
.myComment-date{
    text-align: right;
}
.comment-imgBox{
    /* 댓글작성한 게시글의 이미지박스 선택자 */
    width: 200px;
    height: 230px;
    
    /* background-color: darkorange; */
    float: left;
}
.comment-imgBox img{
    height: 100%;
}

.myComment-one .material-icons{
    /* 나의 댓글 삭제 아이콘*/
    display: block;
    font-weight: 900;
    color: red;
    float: right;
    padding: 0 20px;
}
.myComment-date{
    /* 댓글 작성일 p태그 선택자 */
    padding-right: 33%;
}


/* myWishList 디자인 */
.wishList-wrap{
    /* width: 100%; */
    background-color: bisque;
    overflow: hidden;
}
.wishList-one{
    width: 170px;
    background-color: #ccc;
    float: left;
    padding: 10px 15px;
}
.wishList-imgBox img{
    width: 100%;
}


/* -------------- */

/* byRequest */

.post-btn{
	font-size: 15px;
}

.byRequestBtn{
    border: none;
    padding: 0.5rem;
    display: inline-block;
    box-sizing: border-box;
    transition-duration: 0.5s;
    font-size: 14px;
    font-family: ns-light;
}

.byRequestBc1 {
    color: #005A0D;
    background-color: #fff;
    border: 2px solid #005A0D;
    height: 35px;
    line-height: 5px;
}

.byRequestBc1:hover {
    background-color: #005A0D;
    color: #fff;
    cursor: pointer;
}
