

*{
    /* margin: 0; */
    padding: 0;
}

.page-content{
    overflow: hidden;
}


.mypage-menu{
    background-color: blanchedalmond;
    list-style: none;
    width: 200px;
    float: left;
}



.updateForm{
    width: 500px;
    background-color: chocolate;
    float: left;
}
.updateForm input{
    float: left;
}



