@charset "UTF-8";

/* 버튼 */
.btn {
  border: none;
  padding: 1rem;
  display: inline-block;
  box-sizing: border-box;
  transition-duration: 0.5s;
  font-size: 16px;
  font-family: ns-light;
}

.bc2 {
  background-color: rgba(57, 62, 70, 0.9);
  color: #fff;
  border: 2px solid rgba(57, 62, 70, 0.9);
}

.bs4 {
  width: 100%;
  padding: 2rem;
  font-size: 1.2em;
}