@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    outline: none;
}

/* main-top */
.main{
	margin: 0 auto;
}

.main-wrap{
}

.main-top-text{
    padding: 20px;
}

.top-text1{
    font-weight: 900;
}

.top-text2{
    font-weight: 900;
    color: #ccc;
}

.top-text3{
    font-weight: 900;
    background-color: #f0f8ef;
}

.main-mid{
    margin: 20px auto;
    width: 1200px;
}

/* main-mid */
.mid-text1{
	padding-left : 30px;
    font-weight: 900;
}

.mid-content{
	margin: 50px auto;
	text-align: center;
}

.img-box{
	width: 500px;
	margin: 0 auto;
}

.img-box > img{
	padding: 30px;
	width: inherit;
	height: 100%;
	object-fit: cover;
	box-sizing: border-box;
}

.profile-box{
	margin: 0 auto;
	width: 80%;
	height: 50px;
	line-height: 50px;
	overflow: hidden;
	border-bottom: 1px solid #ccc;
	padding-bottom: 20px;
}

.box1{
	float: left;
	height: 100%;
	overflow: hidden;
}

.userMainImage, .ProductBoardWriter{
	float: left;
	padding: 0 2px;
}

.userMainImage{
	font-size: 40px;
	line-height: 50px;
	color: gray;
}

.ProductBoardWriter{
	font-size: 20px;
	line-height: 50px;
}

.Grade{
	font-size: 20px;
	line-height: 50px;
	color: gray;
}

.Grade > span{
	font-size: 20px;
	line-height: 50px;
	color: gray;
}

.box2{
	float: right;
}

.main-box{
	text-align: left;
    margin: 0 auto;
    width: 80%;
    padding-top: 30px;
}

.title, .author, .price{
	padding-bottom: 2px;
}

.title{
	font-size: 30px;
	font-weight: 900;
}

.author{
	font-size: 20px;
	font-weight: 0;
	color: gray;
}

.price{
	font-size: 20px;
	font-weight: 900;
}

.content{
	padding-top: 30px;
}

/*
.img-box{
    margin: 0 auto;
}

.img-box>img{
    display: block;
    height: 280px;
    max-width: 100%;
}
*/

.info{
    padding-top: 10px;
}

.info>div{
    padding-top: 3px;
}

.info>.book-title{
    font-weight: 900;
}

.info>.book-writer{
    color:gray;
    font-size: 12px;
}

.info>.book-price{
    color: #000;
    font-weight: 900;
}

.product>a{
	color: #252a34;
	background-color: #fff;
}

.product>a:hover{
	background-color: #005A0D;;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2);
    transform: scale( 1.05 );
    transition: all 0.5s linear;
}

.product > a> .info > div{
	color: #252a34;
}

.product > a> .info > .book-writer > span{
	color: gray;
}


.product > a> .info > .book-writer{
	color: gray;
}

.product>a:hover .book-title{
    text-decoration: underline;
}

.product>a:hover .book-title,
.product>a:hover .book-writer,
.product>a:hover .book-writer > span,
.product>a:hover .book-price,
.product>a:hover .book-price > span{
	font-weight: 300;
	color: #fff;
}

.main-bottom{
    margin: 20px auto;
    width: 1200px;
    overflow: hidden;
}

/* 글쓰기 버튼 */
.write{
	float: right;
	background-color: rgba(57, 62, 70, 0.9);
  	color: #fff;
  	border: 2px solid rgba(57, 62, 70, 0.9);
  	text-decoration: none;
  	margin-right: 30px;
}

/* 페이지 버튼 */
.page-btn{
    margin: 20px auto;
    width: 1200px;
    text-align: center;
}

