@charset "UTF-8";

@font-face {
    font-family: ns-thin;
    src: url(../font/NotoSansKR-Thin.otf);
  }
  @font-face {
    font-family: ns-light;
    src: url(../font/NotoSansKR-Light.otf);
  }
  @font-face {
    font-family: ns-m;
    src: url(../font/NotoSansKR-Medium.otf);
  }
  @font-face {
    font-family: ns-bold;
    src: url(../font/NotoSansKR-Bold.otf);
  }
  @font-face {
    font-family: ns-black;
    src: url(../font/NotoSansKR-Black.otf);
  }
  
*{
    margin: 0;
    padding: 0;
    outline: none;
    list-style-type: none;
}

/* main-top */
.main{
	margin: 0 auto;
}

.main-wrap{
}

.main-top-text{
    padding: 20px;
}

.top-text1{
    font-weight: 900;
}

.top-text2{
    font-weight: 900;
    color: #ccc;
}

.top-text3{
    font-weight: 900;
    background-color: #f0f8ef;
}

.main-mid{
    margin: 20px auto;
    width: 1200px;
}

/* main-mid */
.mid-text1{
	padding-left : 30px;
    font-weight: 900;
}

.mid-content{
	margin: 50px auto;
	text-align: center;
}

.img-box{
	width: 500px;
	margin: 0 auto;
}

.img-box > img{
	padding: 30px;
	width: inherit;
	height: 100%;
	object-fit: cover;
	box-sizing: border-box;
}

.profile-box{
	margin: 0 auto;
	width: 80%;
	height: 50px;
	line-height: 50px;
	overflow: hidden;
	border-bottom: 1px solid #ccc;
	padding-bottom: 20px;
}

.box1{
	float: left;
	height: 100%;
	overflow: hidden;
}

.userMainImage, .ProductBoardWriter{
	float: left;
	padding: 0 2px;
}

.userMainImage{
	font-size: 40px;
	line-height: 50px;
	color: gray;
}

.ProductBoardWriter{
	font-size: 20px;
	line-height: 50px;
}

.Grade{
	line-height: 50px;
	font-family: ns-m;
}

.Grade > span{
	font-size: 15px;
	line-height: 50px;
	font-family: ns-m;
}

.box2{
	float: right;
}

.main-box{
	text-align: left;
    margin: 0 auto;
    width: 80%;
    padding-top: 30px;
    position: relative;
}

.title, .author, .price, .cart, .buy{
	padding-bottom: 2px;
}

.title, .cart, .buy{
	display: inline-block;
}

/* 장바구니, 구매하기 버튼 */

.cart, .buy{
	position: absolute;
	right: 0;
	
	border: 1px solid #005A0D;
	width:200px;
	height:45px;
	font-size:15px;
	text-align:center;
	padding-top:10px;
	box-sizing: border-box;
	transition-duration: 0.5s;
	background-color: #005A0D;
}

.cart{
	background-color: #fff;
}

.buy{
	top: 85px;
}

.cart-btn{
	color: #005A0D;
}

.buy-btn{
	color: #fff;
}

.cart-btn, .buy-btn{
	transition-duration: 0.5s;
}

.cart:hover{
	background-color: #005A0D;
	cursor: pointer;
}

.cart:hover > .cart-btn{
	color: #fff;
}

.buy:hover{
	background-color: #fff;
	cursor: pointer;
}

.buy:hover > .buy-btn{
	color: #005A0D;
}

.title{
	
	font-size: 30px;
	font-weight: 900;
}

.author{
	font-size: 20px;
	font-weight: 0;
	color: gray;
}

.price{
	font-size: 20px;
	font-weight: 900;
}

.content{
	padding-top: 30px;
}

.readCount{
	border-bottom: 1px solid #ccc;
	position: relative;
}

.readCount, .readCount > span{
	color: gray;
	font-weight: 0;
	font-size: 12px;
	padding: 20px 0;
	font-family: ns-l;
}

.update, .delete{
	color: gray;
	position: absolute;
	bottom: 18px;
	font-family: ns-l;
	font-size: 12px;
	cursor: pointer;
}

.update{
	right: 40px;
}

.delete{
	right: 0;
	border: none;
	background-color: transparent;
}

/*
.img-box{
    margin: 0 auto;
}

.img-box>img{
    display: block;
    height: 280px;
    max-width: 100%;
}
*/

.info{
    padding-top: 10px;
}

.info>div{
    padding-top: 3px;
}

.info>.book-title{
    font-weight: 900;
}

.info>.book-writer{
    color:gray;
    font-size: 12px;
}

.info>.book-price{
    color: #000;
    font-weight: 900;
}

.product>a{
	color: #252a34;
	background-color: #fff;
}

.product>a:hover{
	background-color: #005A0D;;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2);
    transform: scale( 1.05 );
    transition: all 0.5s linear;
}

.product > a> .info > div{
	color: #252a34;
}

.product > a> .info > .book-writer > span{
	color: gray;
}


.product > a> .info > .book-writer{
	color: gray;
}

.product>a:hover .book-title{
    text-decoration: underline;
}

.product>a:hover .book-title,
.product>a:hover .book-writer,
.product>a:hover .book-writer > span,
.product>a:hover .book-price,
.product>a:hover .book-price > span{
	font-weight: 300;
	color: #fff;
}

.main-bottom{
    margin: 20px auto;
    width: 1200px;
    overflow: hidden;
}

/* 글쓰기 버튼 */
.write{
	float: right;
	background-color: rgba(57, 62, 70, 0.9);
  	color: #fff;
  	border: 2px solid rgba(57, 62, 70, 0.9);
  	text-decoration: none;
  	margin-right: 30px;
}

/* 페이지 버튼 */
.page-btn{
    margin: 20px auto;
    width: 1200px;
    text-align: center;
}

