@charset "UTF-8";
@charset "UTF-8";

/* main-top */
.main{
	margin: 0 auto;
}

.main-wrap{
}

.main-top-text{
    padding: 20px;
}

.top-text1{
    font-weight: 900;
}

.top-text2{
    font-weight: 900;
    color: #ccc;
}

.top-text3{
    font-weight: 900;
    background-color: #f0f8ef;
}

  .page-title {
    padding-top: 20px;
    font-size: 20px;
    color: #005A0D;
    overflow: hidden;
  }

.page-title>p{
    float: left;
    font-family: ns-bold;
    font-size: 20px;
    margin-right:10px;
}
.page-title>p:last-child{
    color:#005A0D;
}

.main-mid{
    margin: 20px auto;
    width: 1200px;
}

.mid-text1{
	padding-left : 30px;
    font-weight: 900;
}

.productWrite{
	padding-left: 28px;
	padding-top: 10px;
}


.tbl {
    width: 100%;
    border-spacing: 0px;
    border-collapse: collapse;
    margin-top: 20px;
}


.tbl th, td {
	padding: 1rem;
	text-align: center;
}

.tbl .td-3 {
  background-color: rgba(57, 62, 70, 0.1);
}

.productWrite th{
	border: 1px solid #ccc;
}

.productWrite td{
	border: 1px solid #ccc;
}

.input-form {
    width: 100%;
    display: block;
    padding: 0.8rem;
    background-color: #fff;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

textarea.input-form {
    resize: none;
    height: 400px;
}

/*

/* tbl, tr, td, th 

.tbl th,
.tbl td {
  padding: 1rem;
  text-align: center;
}

.productWrite td, .productWrite th {
	border : 1px solid #ccc;
}

.tr-1 {
  background-color: rgba(255, 255, 255, 1);
}

.td-2 {
  background-color: rgba(57, 62, 70, 0.1);
}
.input-form {
  width: 100%;
  display: block;
  padding: 0.8rem;
  background-color: #fff;
  outline: none;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.input-form:focus {
  box-shadow: 0 0 0 0.1rem #eee;
}
*/

/* 게시물 수정 */
.delBtn{
	cursor:pointer;
	margin-left:5px;
	font-size:18px;	
}
.fc-6 {
  color: #ff2e63;
}
