@charset "UTF-8";
@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    outline: none;
}

/* main-top */
.main{
    width: 1900px;
}

.main-wrap{

}

.main-top-text{
    padding: 20px;
}

.top-text1{
    font-weight: 900;
}

.top-text2{
    font-weight: 900;
    color: #ccc;
}

.top-text3{
    font-weight: 900;
    background-color: #eee7e7;
}

.main-mid{
    margin: 20px auto;
    width: 1700px;
    background-color: yellow;
}

.mid-text1{
	padding-left : 30px;
    font-weight: 900;
}