/* 사용할 font 선언 */
@font-face {
    font-family: ns-thin;
    src: url(../font/NotoSansKR-Thin.otf);
}
@font-face {
    font-family: ns-light;
    src: url(../font/NotoSansKR-Light.otf);
}
@font-face {
    font-family: ns-m;
    src: url(../font/NotoSansKR-Medium.otf);
}
@font-face {
    font-family: ns-bold;
    src: url(../font/NotoSansKR-Bold.otf);
}
@font-face {
    font-family: ns-black;
    src: url(../font/NotoSansKR-Black.otf);
}
/*기본 설정*/
*{
    margin: 0;
    padding: 0;
    color: #252a34;
    font-family: ns-m;
}
.wrap{
    width: 1200px;
    margin: 0 auto;
}
.title{
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}
.content{
    width: 400px;
    margin: 0 auto;
}
.sub-title{
    text-align: center;
    margin-bottom: 20px;
}
.sub-title>*{
    margin-top: 5px;
}
.sub-title>span{
    font-size: 18px;
    color: rgb(0, 90, 13);
}
.input-box>*{
    font-size: 18px;
}
.input-box>label{
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
}
.input-form{
    width: 100%;
    font-size: 18px;
    display: block;
    padding: 0.8rem;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.input-form:focus {
    box-shadow: 0 0 0 0.1rem #eee;
}
.btn-box{
    margin-top: 20px;
}
.btn {
    border: none;
    border-radius: 5px;
    padding: 1rem;
    width: 100%;
    display: block;
    box-sizing: border-box;
    transition-duration: 0.5s;
    font-size: 18px;
    font-family: ns-light;
    margin-top: 10px;
}
.bc2 {
    border: 1px solid rgba(0, 90, 13, 0.9);
    background-color: #fff;
    color: rgba(0, 90, 13);
}
.bc2:hover {
    cursor: pointer;
}
/*모달*/
.modal-wrap{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
}
.search-modal{
    width: 400px;
    background-color: #fff;
    border-radius: 20px;
    padding: 30px;
}
.modal-top>h2{
    margin: 0;
    padding: 20px;
    text-align: center;
}
#searchPw{
	text-align: center;
	margin-bottom: 20px;
	text-size: 15px;
}